[2015-09-15 14:33] wwadge opened #1 "Path for properties is hard-coded"
https://github.com/n0mer/gradle-git-properties/blob/master/src/main/groovy/com/gorylenko/GitPropertiesPlugin.groovy#L31

The plugin writes directly to build folder. Under IDE, the build folder is not monitored for resources during debugging (it looks at src/main/resources instead).

Can you make the destination configurable (in my case I'd set it to src so that during compilation it will then be c

[2015-09-15 23:47] #1 closed

[2015-09-15 23:51] n0mer commented on #1
@wwadge please try `1.4.6` version of plugin - it is already available from gradle plugin repository.

You can set custom directory location like this:

[code]

Please share whether this works for you or not.

[2015-09-16 07:05] wwadge commented on #1
Works fine. Thanks a lot!

gitProperties {
    gitPropertiesDir = new File("${project.sourceSets.main.resources.srcDirs[0]}")
}

[2015-09-16 13:36] n0mer commented on #1
:+1:

[2016-01-12 19:34] tha2015 opened #3 "Please provide options to exclude some values from the generated git.properties"
I'm like to exclude some properties from generated git.properties

git.commit.user.email
git.commit.user.name
git.commit.message.short
git.commit.message.full

Please provide options to exclude these properties. Thanks.

[2016-01-13 12:46] n0mer commented on #3
@tha2015 what properties do you actually want to see and care about?

[2016-01-13 17:15] tha2015 commented on #3
Currently the plugin always generates 8 below properties

git.commit.id
git.commit.time
git.commit.id.abbrev
git.branch
git.commit.user.name
git.commit.user.email
git.commit.message.short
git.commit.message.full

But I just want to 4 properties as below
git.commit.id
git.commit.time
git.commit.id.abbrev
git.branch

I don't want to 4 other properties
git.commit.user.name
git.commit.user.email
git.c

[2016-01-21 00:03] n0mer commented on #3
@tha2015  please try `1.4.9` version, it now has new config parameter `keys`.

if omitted, then by default all keys will be printed.

if you define
[code]

then plugin will put only these properties.

[2016-01-22 04:12] tha2015 commented on #3
I got the below error

* What went wrong:
A problem occurred evaluating root project 'ops-root'.

 java.lang.String)

I think it is because keys is defined as a Map in the below class
[code]
I think it should be defined as  List instead

[2016-01-23 16:00] n0mer commented on #3
@tha2015 , you're right - please try just published v`1.4.10`

[2016-01-23 16:38] tha2015 commented on #3
It works well now. Thank you very much.

[2016-01-23 16:38] #3 closed

[2016-01-27 19:38] robmoore opened #5 "task 'classes' not found"
I tried adding this to my build.gradle file and ran into the following error when building:
[code]
It looks like it assumes that I will have a classes task and I don't.

[2016-01-27 23:13] n0mer commented on #5
@robmoore this plugin does not deal with 'classes' task in any way.

Maybe this is due to up-to-date check from https://github.com/n0mer/gradle-git-properties/pull/4

[2016-01-27 23:28] robmoore commented on #5
Odd. If I remove the plugin the issue isn't present and it wasn't present prior to adding the plugin.

[2016-01-28 05:00] n0mer commented on #5
@robmoore please try previous version 1.4.7, will it work for you or not. This will show whether this error is caused by #4 or not :)

[2016-01-28 06:02] thebignet commented on #5
@robmoore I've had this problem since 1.4.7. Try importing plugin the old way as described in https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties

[2016-01-28 15:04] robmoore commented on #5
@thebignet Thanks for the tip. Using the old way works with 1.4.8 but not 1.4.9.

@n0mer I tried using the new way with 1.4.7-1.4.10 with no joy.

[2016-01-28 15:12] n0mer commented on #5
@robmoore @thebignet i'm also using the old mechanism of importing this plugin.

let's return to this conversation, when gradle new plugin system will graduate from beta.

[2016-01-28 15:18] robmoore commented on #5
@n0mer It might be worth documenting this issue as I'm sure it will bite others. FWIW, I've used a number of other plugins using the new method and haven't had an issue with it until now.

BTW, I think I may be incorrect on what I said about the old way working with versions past 1.4.8. I just had to bump it back to 1.4.8.

[2016-01-28 15:18] #5 closed

[2016-02-02 14:43] ezraroi opened #6 "Getting gradle error when using the plugin"
Error:(15, 0) Task with name 'classes' not found in root project 'XXX'.

gradle.build
[code]

[2016-02-02 19:53] n0mer commented on #6
@ezraroi thank you for using this plugin.

This is because of 'beta' status of new gradle plugin architecture.

Please include plugin 'the old' way, as described in #5

i'll put a note to README.md regarding that, or accept pull request regarding 'classes' issue due to beta status of new gradle plugin mechanism.

[2016-02-03 06:31] ezraroi commented on #6
@n0mer thanks for the quick response and great plugin

[2016-02-03 06:31] #6 closed

[2016-02-08 13:57] ezraroi commented on #5
Looks like also when using the old buildScript with any version (1.4.6 -1.4.10) i am getting the classes error

[2016-02-16 01:19] n0mer commented on #6
@ezraroi you're most welcome

[2016-02-19 13:08] felipecao commented on #6
@n0mer I've checked #4, #5 and #6 but couldn't find any references to a workaround, could you please clarify what's the workaround to this issue?

Thanks a lot!

[2016-02-19 19:56] n0mer commented on #6
@felipecao sure

[code]

this is 'new' way to add the plugin.

Please use 'classic' ('old') way to add the plug in. You can literally copy-paste from https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties

[code]

[2016-02-19 21:00] felipecao commented on #6
Nice! Thank you very much!

[2016-03-04 13:32] wwadge opened #9 "Timestamp causes JAR hash change"
[code]

The timestamp comment written to file causes gradle to think the resultant JAR file has changed even if nothing else has (and also causes issues with docker since it thinks the whole artifact has been modified). Can you suppress it?

[2016-03-08 14:05] balteo opened #10 "Add support for Heroku builds/deploys"
Hi,
It seems the gradle git plugin does not work with Heroku (the gradle buildpack). The plugin works a charm locally but when I deploy my app on Heroku through github I get this:

[code]

[2016-03-11 18:03] tha2015 opened #11 "Upgrade gradle-git dependency version (currently 1.4.2) to avoid annoying jgit message (Cannot run program "bash")"
Whenever running the build with this plugin, I see below message (from jgit 3.x ) although everything works well

If gradle-git version can be updated to a newer version  (1.4.x), it will use new jgit 4.x and this message will not be displayed anymore. (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=463349)

Thanks.

[2016-03-14 02:33] n0mer commented on #10
@balteo , can you please elaborate on why do you think  that there is a bug in plugin and the issue is not heroku-specific?

looks like some repository is not found

[2016-03-14 02:35] n0mer commented on #9
@wwadge did you try `keys` option from #3 ? Did it help to eliminate 'time' ?

[2016-03-14 02:42] n0mer commented on #11
@tha2015 i published `1.4.12` - please confirm that this solves your problem

[2016-03-14 09:11] tha2015 commented on #11
I tested with 1.4.12 and it fixed my issue. Thank you for the great work.

[2016-03-14 09:11] #11 closed

[2016-03-14 09:28] balteo commented on #10
Hello Nikolay,
Indeed. I checked with them and the repository is not present. Hence the
issue. Can you close the issue please?
Regards,
Julien.

2016-03-14 3:33 GMT+01:00 Nikolay Gorylenko <notifications@github.com>:

[2016-03-14 17:08] tha2015 opened #12 "generateGitProperties shows UP-TO-DATE after executing clean task"
If generateGitProperties task generated git.properties and then the file is deleted (manually or by gradle clean), executing generateGitProperties task again will NOT re-generate the git.properties (because gradle thinks the output is UP-TO-DATE)
This is something related to gradle cache folder (.gradle/)  of project folder so step 1 below is important to reproduce the issue

[rep1.zip](https://gi

[2016-03-14 21:32] tha2015 commented on #9
I think the ticket is about the comment "#Fri Mar 04 14:27:29 CET 2016", not about the key "git.commit.time=1457050640".

[2016-03-14 22:19] wwadge commented on #9
That's correct @tha2015 -- keys option wouldn't do anything here.

[2016-03-15 00:05] tha2015 commented on #9
One thing I don't understand here is why the plugin is re-creating the git.properties while the input files and output files are not changed? Normally gradle will just show "UP-TO-DATE" and skip the step (assuming that the plugin is implemented correctly to support up-to-date check)

[2016-03-15 07:33] wwadge commented on #9
Even if that is not not an issue, it doesn't hit my use case -- I am rebuilding each time from a jenkins clean slate but each time I build my docker images, docker will think they are new because of this timestamp which serves no purpose at all.

[2016-03-16 01:57] n0mer commented on #10
@balteo sure - good luck with your project :)

[2016-03-16 01:57] #10 closed

[2016-03-16 02:01] n0mer commented on #12
@tha2015

maybe this is caused by code from PR #4

[code]

[2016-03-16 02:11] n0mer commented on #9
@wwadge i published `1.4.13` , please give it a shot and tell whether comment is suppressed , and do you still have your issue.

[2016-03-16 02:42] #9 closed

[2016-03-16 02:43] n0mer commented on #9
@wwadge please check 1.4.14 version and get back whether this fixes your issue or not

[2016-03-16 02:47] n0mer commented on #12
@tha2015 while fixing #9 i ended up with file re-creation every time plugin is executed.

Can you please try recent 1.4.14 version?

[2016-03-16 04:00] tha2015 commented on #12
I verified with the new version and it fixed the issue. Thanks.

[2016-03-16 04:11] tha2015 commented on #12
Sorry. I closed the issue by mistake. It still happens on v 1.4.14

[2016-03-16 07:06] tha2015 commented on #12
I made some changes to the plugin and it worked correctly. The modified file is attached
[GitPropertiesPlugin.groovy.zip](https://github.com/n0mer/gradle-git-properties/files/175409/GitPropertiesPlugin.groovy.zip)

Basically I removed the logic from GitPropertiesPlugin class
[code]
and added logic to GenerateGitPropertiesTask class
[code]

[2016-03-16 09:38] wwadge commented on #9
Works fine - thanks!

[2016-03-16 14:46] n0mer commented on #12
@tha2015 please try v1.4.15

[2016-03-16 15:57] tha2015 commented on #12
Just tried v 1.4.15 and it fixed my issue. Thanks.

[2016-03-16 15:57] #12 closed

[2016-03-19 17:24] tha2015 opened #13 "Enhancement request: could you provide configuration key to format the date in git.commit.time"
It would be great if we can configure a date format like "yyyy-MM-dd'T'HH:mm'Z'" to format the git.commit.time value.
Thanks.

[2016-03-19 17:26] tha2015 commented on #13
It would be easier to read a formatted date comparing to a timestamp

[2016-03-20 02:31] n0mer commented on #13
AFAIK, maven `git-properties` plugin does not support this.

Personally i'm using this via spring-boot-admin, and i would direct this `timestamp formatting` question there.

[2016-03-20 17:25] tha2015 commented on #13
I don't know about git-properties maven plugin and I don't know how sprint-boot-admin works so I have no comment about that. But for maven-git-commit-id-plugin (which is mentioned in Spring Boot documentation), I see date format options like `dateFormat` and `dateFormatTimeZone ` (see
https://github.com/ktoso/maven-git-commit-id-plugin) and I believe that that plugin generates formatted dates (not

[2016-03-29 14:13] wujek-srujek opened #14 "Add support for Git Worktrees"
Git worktrees allow to checkout multiple working copies at the same time, more here: https://git-scm.com/docs/git-worktree. This plugin doesn't work when the build is triggered within a worktree, it fails with the following error (including just the root cause):

[code]

More info: the project (its initial clone) is located at /Users/wujek/Development/IdeaProjects/sample-project, and I then create

[2016-03-30 19:58] n0mer commented on #14
@wujek-srujek
mr. srujek, status of https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475 is 'new'.

Please get back when support for git worktrees will appear in stable jGit version

[2016-03-30 20:01] n0mer commented on #13
@tha2015 you are right - other plugins are just displayed whatever is present in .properties file under specific key.

personally i like the idea of human-readable build dates; will have time to implement this in approximately 1 month, not right now. meanwhile can only review PR, if there is any.

[2016-04-01 12:56] tha2015 commented on #13
Created pull request https://github.com/n0mer/gradle-git-properties/pull/15

[2016-04-04 22:30] n0mer commented on #13
merged #15  and published new version `1.4.16`

thank you @tha2015

[2016-04-04 22:30] #13 closed

[2016-07-06 08:32] foxundermoon opened #19 "missing some field of info endpoint"
this is my /info endpoint response

[code]

[2016-07-25 23:24] n0mer commented on #19
what is missing @foxundermoon  ?

[2016-07-27 06:47] Endron opened #21 "The plugin does not work with Java 7"
The version of the plugin available via the plugin exchange does not work when the build is executed with a Java 7 JDK. This is because the classes are compiled for Java 8 and are therefore incompatible with Java 7.
As the code is Groovy anyways the plugin could be compiled with the Java 7 targetCompatibility to ensure the plugin in the exchange is backwards compatible to Java 7. This is needed by

[2016-07-27 10:43] Endron commented on #19
Even more important: Can you post the content of the generated git.properties file?
The endpoint itself is part of Spring Boot Actuator while this plugin only creates the properties file used by the endpoint. So if the properties are correct it is a problem on the Spring side of things.

[2016-07-27 10:44] Endron commented on #21
The pull request should have fixed this.

[2016-07-27 10:44] #21 closed

[2016-08-14 04:18] foxundermoon commented on #19
@Endron  @n0mer
the git.properties is rich.
just  spring boot's show less.
I create custom Endponit to show all the git.properties.
 at the begining i think the  /info Endponit is the plugin generate.

[2016-08-25 09:48] Plaputta opened #23 "Add support for submodules"
Hi,

could you please add support for submodules?

I have a main project with several submodules that use gradle-git-properties, trying to build them fails because there is no .git folder inside the submodule:

`09:04:42.158 [ERROR] [org.gradle.BuildExceptionReporter] Execution failed for task ':generateGitProperties'.
09:04:42.160 [ERROR] [org.gradle.BuildExceptionReporter] > org.eclipse.jgit.err

[2016-09-05 16:06] robertdanci opened #24 "Date format does not work"
Hi,

I've been trying the dateFormat feature with no success. I use the following config:

[code]

but the commit.time is still displayed as a number.

[2016-09-21 21:04] jesperronn commented on #23
I ran into this same issue for a project with submodules, and I simply cannot build or test any subproject with the `gradle-git-properties` dependency. Very annoying.

Since maintainers did not respond (yet), maybe you can attempt to make a pull request, @Plaputta ?

[2016-10-01 08:16] mahanhz commented on #24
Had the same problem. I added single quotes around the Z and then it worked.

`gitProperties {
	dateFormat = "yyyy-MM-dd'T'HH:mm'Z'"
	dateFormatTimeZone = "GMT"
}`

[2016-10-01 14:00] mahanhz commented on #24
Had the same issue. If I add milliseconds (.SSS) to the dateFormat then it works.

The below works for me:
gitProperties {
	dateFormat = "yyyy-MM-dd'T'HH:mm:ss.SSSZ z"
	dateFormatTimeZone = "UTC"
}

[2016-12-15 04:50] sirgl commented on #5
I got this error again on version 1.4.17 with both old and new way of plugin import.

[2017-01-12 09:37] atodd-noms commented on #10
Some explanation of how you solved this would be helpful. I have the same problem. How did you get this working on Heroku?

[2017-01-12 10:47] edubkn commented on #23
@Plaputta @jesperronn Were you guys able to sort this out?

[2017-01-27 00:02] kgeis opened #27 "allow soft failure when not a git repo"
I have exported a git repo into another directory and I am working with it. Since it does not have git metadata, the gradle-git-properties plugin fails.

[code]

I would like for it not to fail.

[2017-02-06 12:38] pjungermann opened #28 "multi line full commit message breaks properties file syntax"
the plugin does not use Java's Properties files and just writes key-value pair by pair into the file without escaping new lines etc.

[2017-03-03 09:28] pluttrell opened #29 "How do you access Git Properties in Gradle?"
Is there a way to get access to the git properties in the Gradle script itself? For example if I wanted to append the commit hash to the version number?

[2017-03-15 21:23] nathansgreen commented on #29
I use this:

[code]

[2017-03-15 21:52] nathansgreen opened #31 "Support git-describe"
`maven-git-commit-id-plugin` supports `git-describe`. In particular, it supports marking "dirty" working copies, so it's clear whether a given build was from a completely clean checkout. Any modification to a committed file will produce a dirty state, leading to a build that may not be reproducible.

[2017-03-18 05:23] tha2015 commented on #24
I tried your config with a simple project and it worked correctly.
[code]
Can you try the attached zip file?

[2017-03-18 06:01] tha2015 commented on #23
It does work with multimodule projects. See attached zip file for an example.
[rep1.zip](https://github.com/n0mer/gradle-git-properties/files/852196/rep1.zip)

I guess you got the error because the root project (top level project, parent of  all sub modules) doesn't contain the .git folder. So you should configure the plugin so it can find .git folder.

In your  case, you should specify the locati

[2017-03-18 23:57] tha2015 commented on #28
It is because of the fix for #9 (which changed from using Properties to writing key=value directly). I have created a pull request which uses Properties (to fix this issue) but at the same time also tries to avoid updating existing git.properties file if the file content hasn't been changed (to keep the fix for #9). The pull request also introduces a new config key "force" to skip checking content

[2017-04-18 12:50] edeandrea opened #35 "Build fails if git repo hasn't yet been initialized for project"
As part of an organization we've modified the Spring Initializr (https://start.spring.io) so that it generates a cradle-based project which includes the gradle-git-properties plugin pre-wired into the build. The issue we're having is that once someone creates a project they may not have checked their code into a git repo yet. Not doing that - they are unable to build their project:

[code]

I can

[2017-04-28 22:07] mjustin commented on #19
@foxundermoon — Spring Boot will only show some of the information in this file.  You can have it show more information by setting the "management.info.git.mode" property to "full" per [the Spring Boot documentation](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-application-info-git), e.g. in application.properties:

`management.inf

[2017-04-28 22:12] mjustin commented on #35
Isn't this a duplicate of https://github.com/n0mer/gradle-git-properties/issues/27?

[2017-05-01 12:58] edeandrea commented on #35
Ahh yes I believe it might be.

[2017-05-28 14:05] kurtseebauer commented on #10
`generateGitProperties {
    onlyIf {
        !source.isEmpty()
    }
}`
does the "trick" of not generating the git.properties file, but it seems there is no easy way to get git information in heroku builds. I asked the heroku guys and here is the response:

[2017-06-24 18:52] searhiy commented on #19
Hi! Can you update usage section in README.md about "full" mode?

Thank you!

[2017-08-07 09:55] izeye commented on #31
@nathansgreen @n0mer Resolved via #32 ?

[2017-08-25 06:35] toricoder opened #37 "Unexpected token error"
Hi,
I am trying to build the project and getting an exception on the GitPropertiesPlugin class. It seems the bracket is not properly closed at the right place.

`$ gradle build
Starting a Gradle Daemon, 1 busy and 1 incompatible and 1 stopped Daemons could

[2017-08-29 14:50] gclayburg commented on #29
I am using this inside a build.gradle task:

[code]
My build is taking this git.commit.id value and inserting it into a LABEL of the docker image it creates.

I wonder if this is something that would be cleaner in a gradle plugin instead? Maybe this one?

[2017-09-14 09:34] ErnestOrt opened #39 "Git metadata folder must be on the same project level of gradle.build"
Hi @n0mer,

Check this example: https://github.com/ErnestOrt/Trampoline

I cannot use the plugin on microservice-example-gradle (unless I manually copy&past git folder from its parent) since it complains with the following error:

I would like to know if this situation is a minimum requirement to make pluggin worked.
If not:
* Is there any work around?
* Are any enhancements planned to improve thi

[2017-09-14 09:37] ErnestOrt commented on #39
Already found it on Readme... Sorry for the inconvenience.

[2017-09-14 09:37] #39 closed

[2017-09-18 17:54] ErnestOrt opened #40 "Project repo url & dirty status"
It would be great to be able to get github repo url on git.properties as well as if code has uncommit things as this plugin has:
[code]

Cheers!

[2017-11-10 12:26] m91snik opened #42 "Release new version"
Please, release new plugin version with this fix https://github.com/n0mer/gradle-git-properties/commit/3a440d6e7879a3cf913468adc222764a7993e601

[2017-11-14 20:00] masonah commented on #42
Yes, I would also like to see this fix in the latest version. I am unable to toggle failOnNoGitDirectory to false in my build.gradle because it doesn't seem to exist in the GitPropertiesPluginExtension object in the current version.

[2017-12-05 16:51] damienbeaufils commented on #42
+1

[2018-01-04 00:14] n0mer commented on #42
@m91snik Nikolay, please find 1.4.18 version here https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties

[2018-01-04 00:14] #42 closed

[2018-01-04 00:15] n0mer commented on #27
fixed in 1.4.18

[2018-01-04 00:15] #27 closed

[2018-01-04 00:18] n0mer commented on #35
fixed in 1.4.18

[2018-01-04 00:18] #35 closed

[2018-01-04 00:18] n0mer commented on #31
@izeye @nathansgreen fixed in 1.4.18

[2018-01-04 00:19] n0mer commented on #29
@pluttrell i'm using grgit library as well :)

[2018-01-04 00:19] #29 closed

[2018-01-04 00:21] n0mer commented on #24
@robertdanci closing this. Please open another ticket, in case you're still having trouble or date/time format proposed by @mahanhz is not working for you

[2018-01-04 00:21] #24 closed

[2018-01-04 00:31] n0mer commented on #37
@toricoder thanks for feedback, please try 1.4.18 version - there was error caused by merge.

[2018-01-04 00:31] #37 closed

[2018-01-10 11:33] tryptophane opened #44 "Files for version 1.4.18 not accessible on https://plugins.gradle.org"
I can't update to the new version, because the files seem not to have been uploaded correctly to the repo on https://plugins.gradle.org

Trying to download any of the files under this address fails:

https://plugins.gradle.org/m2/gradle/plugin/com/gorylenko/gradle-git-properties/gradle-git-properties/1.4.18/

A "gradle build --refresh-dependencies" will also fail...

[2018-01-10 13:43] n0mer commented on #44
@tryptophane yes, i also noticed that.

Sent e-mail to gradle the day i published it, w/out any luck so far.

Will re-publish as next version later today.

Thanks for reaching out, anyway :)

[2018-01-10 13:47] tryptophane commented on #44
Thank you Nikolay for your feedback and your work!

[2018-01-11 07:38] n0mer commented on #44
@tryptophane please use 1.4.20 version.

I had to update gradle-publish-plugin from 0.9.1 to 0.9.9 (and, just in case, gradle itself to 4.2.1).

[2018-01-11 07:40] #44 closed

[2018-01-11 07:45] n0mer commented on #19
@searhiy README.md updated as per commit 2eb005001035c2e585f7289ab44f99ccde906bce , thanks for pointing out. Closing this issue

[2018-01-11 07:45] #19 closed

[2018-01-11 07:46] n0mer commented on #21
Thank you @Endron !

[2018-01-11 11:25] tryptophane commented on #44
Thanks, now everything is fine :-)

[2018-01-14 14:56] ezraroi opened #45 "RepositoryNotFoundException on jenkins"
When we upgraded from 1.4.17 to 1.4.20 we started to get this error on our jenkins server.
No sure why...
`
Execution failed for task ':service:generateGitProperties'.

`

[2018-01-14 19:18] n0mer commented on #45
@ezraroi plugin works just fine for me. I use it together with gradle 4.2.11

Can you please try to do fresh check-out of project into another directory, and perform build from scratch there? Because for me it looks like some temporary files or permissions issue.

[2018-01-14 19:55] ezraroi commented on #45
Will check.. On the same files version 17 is working fine. Tested with gradle 4.4.1

[2018-01-15 04:17] behrangs-sportsbet opened #46 "Allow branch name to be overridden using env vars"
In Jenkins, some SCM plugins checkout a branch using `git checkout -f ...`:

[code]

When this happens, the branch name in `git.properties` is set to `HEAD`.

However, in the Jenkins environment the `BRANCH_NAME` env var preserves the actual branch name.

`gradle-git-properties` needs an option to query an env var for branch name, rather than `.git/...`.

[2018-01-15 13:46] SanderDN commented on #45
We're experiencing the same problem:

`Execution failed for task ':service:generateGitProperties'.

Reverting to version 17 also fixes the problem. We're using gradle 4.4.1.

[2018-01-16 22:34] timkettering commented on #45
Confirming this issue as well.  Jenkins builds fine when using plugin version 17, but version 20 breaks in Jenkins with the same error reported by others.

[2018-01-18 10:29] gimlet2 commented on #45
I see the same locally

[2018-01-22 14:28] damienbeaufils commented on #45
Same issue here, with 1.4.20 and Gradle wrapper v4.4.1 on Linux Mint 18.2

[2018-01-22 23:29] DemianTinkiel opened #48 "add branch tags"
like https://github.com/ktoso/maven-git-commit-id-plugin, could this support git.tag?

[2018-01-24 13:40] matei-dragu commented on #45
Confirmed - version 1.4.20 + Gradle wrapper 4.4.1 on Linux 64bit:

[2018-01-26 17:12] robmoore commented on #27
Sorry for the basic Gradle question but how would one set this value?

[2018-01-26 18:27] robmoore opened #49 "'repository not found' error"
I have a project in a git repo that I've checked out locally and when I try to run `gradle build` I experience  the following error:
[code]
The directory referred to above exists and the current branch is represented beneath it. I'd appreciate any tips to resolve this. I've tried removing the directory and cloning the repo again from scratch but it doesn't appear to make any difference.

[2018-01-30 13:44] stefan-huettemann commented on #49
Having same problem on _some_ (!) of our repos:

[code]

[2018-01-31 00:45] simongs commented on #46
In Jenkins, I have experienced the same issue.

In `git.properties' file (Expected = feature/test_branch)
[code]

[2018-01-31 06:35] behrangs-sportsbet commented on #46
My PR should (#47) should fix this. @n0mer could you please review it?

[2018-02-09 01:43] napstr commented on #45
My personal builds as well as CI server builds are fine, but after a recent update from .17 to .20 we have users reporting a failing build of a freshly checked out repo on

source: https://github.com/Frederikam/FredBoat/issues/460

[2018-02-19 13:52] matei-dragu commented on #49
Hey guys - any update on this issue?

[2018-02-27 22:51] ka1eka commented on #49
Hi everybody,
I have created a PR, which fixes the issue: https://github.com/n0mer/gradle-git-properties/pull/50
As workaround (until this PR is merged) you may use the following procedure:
1. build the plugin locally from my fork:
[code]
2. take ```gradle-git-properties-1.4.20.jar``` from ```build/libs``` folder and put it into you project repo into some folder. E.g. I put it into ```gradle/plugi

[2018-02-27 23:22] n0mer commented on #49
@ka1eka i can build fresh release, gimme a sec

[2018-02-27 23:24] n0mer commented on #46
@behrangs-sportsbet LGTM

[2018-02-27 23:24] #46 closed

[2018-02-27 23:33] n0mer commented on #49
after quick investigation - problem appeared when current working directory does not match, let's say, `jar.baseName` (e.g. in jenkins - where directory named after jenkins job, not after `jar.baseName`).

This PR fixes the issue - thanks for the valuable contribution!

[2018-02-27 23:33] #49 closed

[2018-02-27 23:33] n0mer commented on #45
fixed in https://github.com/n0mer/gradle-git-properties/issues/49#issuecomment-369065809

[2018-02-27 23:33] #45 closed

[2018-02-27 23:34] n0mer commented on #45
in some cases builds were working fine in gradle 4.2.1 , but failed in gradle 4.5.1

[2018-03-01 16:31] n0mer commented on #44
@tryptophane FYI - 1.4.21 is available.

[2018-03-02 08:21] pluttrell opened #52 "Issues applying both org.ajoberstar.grgit (v2.1.1) and com.gorylenko.gradle-git-properties" (v1.4.21)"
Using Gradle v4.6 this build script
[code]
and this build script
[code]
both work.

But when you combine the two, such as with this one
[code]
it fails with this error
[code]

Is there a trick to getting both plugins to coexist? Previous versions could coexist.

[2018-03-02 18:24] n0mer commented on #52
@pluttrell probably this is intruduced by this commit:

https://github.com/n0mer/gradle-git-properties/commit/68d9436863a741d6f9d5bc91a0b63122bd717843#diff-c197962302397baf3a4cc36463dce5ea

[2018-03-02 18:28] n0mer commented on #52
we are still using https://github.com/ajoberstar/gradle-git (latest release 1.7.2 from Jun 9, 2017).

grgit is a new project - https://github.com/ajoberstar/grgit

Hence the conflict :)

[2018-03-05 06:08] tha2015 commented on #46
@n0mer I compared this patch and the corresponding implementation for maven-git-commit-id plugin and found out that the maven plugin will automatically detect the Git branch from environment variable (GIT_LOCAL_BRANCH/GIT_BRANCH). See https://github.com/ktoso/maven-git-commit-id-plugin/blob/master/src/main/java/pl/project13/maven/git/GitDataProvider.java#L170 for the logic.

[2018-03-05 06:19] tha2015 commented on #48
This is related to issue #46 which was closed recently. But I still think the issue #46 was not resolved correctly (users will have to specify the branch name  while the issue #46 specifically requesting that the branch name must be detected automatically from environment variables).

I would suggest someone to submit to submit a new PR to fix this issue and #46 in a better way.

[2018-03-05 15:52] tha2015 opened #54 "Improve the logic to initialize only Git properties which will be used"
Currently the plugin will initialize all Git properties even when the **keys** config is used to specified only some specific properties.
We should improve the logic to initialize only the properties will be used to improve the performance/stability of the plugin. For example, we could use Groovy closures to do this.

[2018-03-05 18:14] tha2015 opened #55 "Support specifying custom properties (git.build.version, git.build.time ..) in plugin config"
It would be great if the plugin can be configured to support custom properties (like maven-git-commit-id plugin supports generating git.build.time, git.build.version etc.)

Can we have something like:
[code]

[2018-03-06 11:19] #55 closed

[2018-03-06 11:20] n0mer commented on #54
merged #56

[2018-03-06 11:20] #54 closed

[2018-03-06 15:41] tha2015 opened #57 "All properties are generated when configuring gitProperties { keys = [] }"
The behavior of the logic to handle **keys** property is counter intuitive. When I configuring **keys=[]**, I expected no property would be generated, but actually all properties were generated.

[2018-03-06 18:47] n0mer commented on #57
i think, better to give some semantic:
* one list includedKeys = []
* second list excludedKeys = []

But, without this behaviour, empty always means "*" :)

[2018-03-06 18:58] tha2015 commented on #57
I think by default (not configuring keys), the keys property contains all keys, but users are allowed to configure it with any other list-type values (even an empty list). In the case an user explicitly uses empty list, no property will be created (if no custom property is configured). This will be easier to understand the plugin.
I believe that this issue (setting keys = []) is a corner case and

[2018-03-06 19:10] n0mer commented on #57
@tha2015 make sense, but in case of PR - please update README.md :)

[2018-03-06 19:36] tha2015 commented on #57
Sure, if I'm the one who submitting PR for this issue :-)

[2018-03-07 05:12] tha2015 commented on #52
Analysis:

gradle-git-properties-1.4.21.jar uses GrgitPlugin class (from gradle-git-1.7.2.jar) which uses GrgitException (from grgit-1.9.3.jar)
When adding grgit 2.1.1 plugin, grgit-1.9.3.jar is replaced by grgit-2.1.1.jar (which doesn't have GrgitException), that's why the issue happens.

One possible solution is to upgrade gradle-git-properties to use grgit-2.1.1 (instead of grgit-1.9.3). But be

[2018-03-07 11:41] n0mer commented on #57
fixed by #58

[2018-03-07 11:41] #57 closed

[2018-03-07 19:35] soxsten commented on #23
I have the same problem.
The .git folder of submodule base here - ../../.git/modules/hri-backend/modules/user-service
But when I try:
**gitRepositoryRoot = new File("${project.rootProject.rootDir}../../.git/modules/hri-backend/modules/user-service")**

I get:
**org.eclipse.jgit.errors.RepositoryNotFoundException: repository not f
ound: C:\IdeaProjects\hri\hri-backend\user-service\.git**

And I can

[2018-03-08 03:30] pluttrell commented on #52
I think you’ll want to upgrade to grgit 2.x at some point, so I think the Java 8 requirement is inevitable.

If you want to maintain support for older versions, perhaps keep one branch for that purpose and move master and the next major version to use grgit 2.x.

I also wonder how much demand there is for patches that support pre-Java 8. Java 8 has been out for four years this month. And Java 9 ha

[2018-03-08 05:54] tha2015 commented on #23
@soxsten The current version of the plugin doesn't support git modules. I'm submitting  PR #59 to support detect .git files for git modules

[2018-03-08 07:39] damienbeaufils commented on #52
I think it makes sense to support only Java 8 and above: Java 8 is a LTS version, Java 10 is expected to be released in 2 weeks now, and Java 11 LTS in 6 months.
I think a library like gradle-git-properties should support the LTS versions.
Furthermore, Spring Boot 2.0 requires at least Java 8.

[2018-03-08 08:24] tha2015 opened #60 "Replace gitRepositoryRoot config key by dotGitDirectory config key"
I suggest that we should make a change (which is not backward compatible) to remove gitRepositoryRoot  config key and replace it by dotGitDirectory config key. There are several reasons for the suggestion:
1. Consistency. To be consistent with maven git commit id plugin
2. Flexibility of configuration. Currently gitRepositoryRoot must be configured to point to a parent folder which containing a su

[2018-03-08 17:29] tha2015 commented on #52
I believe that there are still a lot of people using Java 6 or older versions. The best solution would be supporting two branches (like 2.x for Java 8 and 1.x for pre-Java 8). But I don't think we have enough people to help with maintaining both branches :-(

[2018-03-08 20:51] soxsten commented on #23
@tha2015
Well... Thank you for the fast respose.
How quickly will you realize this feature?

[2018-03-08 21:41] tha2015 commented on #23
Feature is implemented in PR #59 and is ready to be reviewed by @n0mer .
We will have to wait for @n0mer  to merge it into the main branch and release it in the next version of the plugin.

[2018-03-09 11:58] n0mer commented on #23
@soxsten are you willing to try this feature once it's released?

I'm going to publish new 1.4.22 version soon, once #52 regression is fixed.

Just wondering - do you guys @soxsten @tha2015  use java 8?

[2018-03-09 12:01] n0mer commented on #60
@tha2015 i agree to support java8 since 2.x

[2018-03-09 16:37] tha2015 commented on #60
@n0mer should we also break compatibility and replace the gitRepositoryRoot  config key by dotGitDirectory config key?

[2018-03-09 16:44] tha2015 commented on #23
I'm using Java 8 (with Gradle) for my everyday job. But I'm also using Java 6 when fixing bugs for an old branch (which is built by Ant, not Gradle).
I guess people using Java 6 not likely build with Gradle. So it might be OK to stop supporting Java version < 8.

[2018-03-09 17:07] tha2015 commented on #52
I've merge the fix for this issue to the master branch. From now on, the plugin will use grgit 2.1.1 and will support only Java 8+. I've also updated README.md to clarify Java 8+ requirement.

[2018-03-09 17:12] soxsten commented on #23
@n0mer
Yes I will. It's very interesting for me. I can wait a bit.
P.S. I use Java 8 with Gradle too.

[2018-03-09 21:53] tha2015 commented on #60
I created PR #62 for the suggestion.
@n0mer It is also OK to ignore and close the PR without merging if you think we should not change the old key gitRepositoryRoot

[2018-03-19 21:03] dima767 opened #65 "Add ability to expose tags data"

[2018-03-19 21:25] tha2015 commented on #65
Note: If this is about git.tags, then we already have issue #48 for it.

[2018-03-19 22:04] dima767 commented on #65
Yeah, I just want to include the tags for HEAD at the time of build

[2018-03-19 22:05] dima767 commented on #48
Yes, that would be super needed ;-)

[2018-03-20 01:35] tha2015 commented on #60
@n0mer I will go ahead and merge the PR to avoid conflicts when adding more changes for other issues. I assume that not many users are using gitRepositoryRoot and even if they are using, upgrading to the new version of the plugin should be super easy (just removing the gitRepositoryRoot key and the new logic will automatically detect the correct .git location - if it doesn't work, the dotGitDirect

[2018-03-20 01:36] #60 closed

[2018-03-20 02:56] tha2015 commented on #48
Should be fixed in next version 1.4.22

[2018-03-20 02:57] tha2015 commented on #65
Duplicate of issue #48. Will be closed.

[2018-03-20 02:57] #65 closed

[2018-03-20 04:36] tha2015 commented on #40
Should be fixed in next version 1.4.22

[2018-03-20 04:37] tha2015 commented on #23
Code merged. Should be fixed in next version 1.4.22

[2018-03-20 15:11] dima767 commented on #48
Are the snapshots available? If not, what is the estimated release date for `1.4.22`

[2018-03-20 16:31] tha2015 commented on #48
I guess we have to wait for @

[2018-03-20 21:24] tha2015 opened #68 "Add git.build.user.name, git.build.user.email, git.build.time, git.build.version, git.build.host properties (like maven git commit id plugin)"
The following properties should be added (similar to maven git commit id plugin)

git.build.user.name
git.build.user.email
git.build.time
git.build.version
git.build.host

[2018-03-20 21:25] tha2015 opened #69 "Add git.closest.tag.name, git.closest.tag.commit.count, git.total.commit.count properties (like maven git commit id plugin)"
The following properties should be added (similar to maven git commit id plugin)

git.closest.tag.name
git.closest.tag.commit.count
git.total.commit.count

[2018-03-20 21:29] tha2015 opened #70 "Add git.commit.id.full, git.commit.id.describe-short properties (like maven git commit id plugin)"
The following properties should be added (similar to maven git commit id plugin)

1. Add commitIdGenerationMode config key (default value = flat). When commitIdGenerationMode=flat, generate git.commit.id. When commitIdGenerationMode=full, generate git.commit.id.full

2. Generate git.commit.id.describe-short only when git.commit.id.describe is generated

[2018-03-21 00:26] tha2015 commented on #31
I compared the generated value for git.commit.id.describe and the values from "git describe" command and the git-commit-id-maven-plugin. The "git describe" command and the git-commit-id-maven-plugin generated the same value and they are different to value from this Gradle plugin. So I'd like to reopen this issue to review/update the implementation for git.commit.id.describe to make sure we are gen

[2018-03-21 00:53] tha2015 opened #71 "By default, git.commit.time should be formatted with dateFormat = "yyyy-MM-dd'T'HH:mm:ssZ" and dateFormatTimeZone = "${user.timezone}""
Spring boot expects git.commit.time in the format of
     yyyy-MM-dd’T’HH:mm:ssZ
(see https://docs.spring.io/spring-boot/docs/current/reference/html/howto-build.html#howto-git-info)

The maven-git-commit-id-plugin also uses default configs  when generating git.commit.time value
     dateFormat = yyyy-MM-dd'T'HH:mm:ssZ
     dateFormatTimeZone = ${user.timezone}

Currently this Gradle plugin generat

[2018-03-21 01:45] tha2015 opened #72 "License issue - Some logic is modified from LGP code (maven-git-commit-id-plugin)"
Some of the recent commits used modified logic from maven-git-commit-id-plugin which is under LGPL 3.0 license. The reason for it is to keep compatibility between two plugins.

The problem is Gradle plugin is under Apache license while maven-git-commit-id-plugin is under LGP 3 license which is not compatible.
So we should either replace recent commits which using modified logic from maven-git-comm

[2018-03-21 03:59] tha2015 commented on #40
Reopen the issue because the previous commit was reverted because of licensing issue

[2018-03-21 04:08] tha2015 commented on #72
Because we are going to publish a new version very soon, I veve reverted the commit for
     src\main\groovy\com\gorylenko\RemoteOriginUrlProperty.groovy (git.remote.origin.url property)
I'm going to replace the commit for
     src\main\groovy\com\gorylenko\GitDirLocator.groovy (searching for dotGitDirectory)
by a new implementation very soon.

[2018-03-21 06:09] tha2015 commented on #40
Merged new code to fix the license issue. Will close this issue.

[2018-03-21 06:09] #40 closed

[2018-03-21 06:10] tha2015 commented on #72
All the impacted code has been reverted and replaced with new implementation. Will close this issue.

[2018-03-21 06:10] #72 closed

[2018-03-21 23:16] #31 closed

[2018-03-23 03:12] tha2015 commented on #69
Added git.closest.tag.name via PR #78

[2018-03-23 10:22] dnnslmns opened #79 "repository not found when .git is on a mounted drive."
I have read other bug reports that suggest that this is solved, however it is still occuring under the following conditions:
Virtualbox VM Ubuntu 16.04
Mounted VM harddisk on /home/dennis/dev/project (project is the mounted folder containing the .git)

* What went wrong:
Execution failed for task ':backend:generateGitProperties'.

I checked and the folder does exist...

I did some analyses and cam

[2018-03-23 13:09] tha2015 commented on #79
I believe that this is the same as issues #45 and #49 which was fixed from 1.4.21+

[2018-03-23 13:51] dnnslmns commented on #79
For some reason it started working.. I was using 1.4.21 before when it gave the error..

[2018-03-23 13:51] #79 closed

[2018-03-23 16:28] clementboone opened #80 "Bump version to 1.5.0"
Hi,

First of all, thanks for the plugin.

- A lot of important changes have been added since last bump _1.4.21_. Could we expect the version **1.5.0** to be bumped and available on the _plugins.gradle.org_ repository quite soon?
- Also, because the repository is not having any tag, it's very hard and confusing to have clear idea of the state of the plugin for a given version : the current version

[2018-03-23 17:01] tha2015 commented on #80
Hi clementboone,

About the next version 1.4.22, I think we have to wait for @n0mer to publish a new version to Gradle plugins web site because I cannot do that.

About the tagging:  I've created the tag v1.4.21 to identify correctly the features in version 1.4.21. See https://github.com/n0mer/gradle-git-properties/tree/v1.4.21 for more information.

Thank a lot for your suggestions.

[2018-03-23 17:45] damienbeaufils commented on #80
Hello,

With all the changes that have been made since v1.4.21, I think the next release should be v1.5.0 instead of v1.4.22. WDYT?

[2018-03-23 18:19] tha2015 commented on #80
I agree. There are some important changes like supporting only Java 8+ and version changes of grgit and jgit libraries.

[2018-03-23 20:33] tha2015 opened #82 "Should not apply Java plugin automatically to non-Java projects"
I added this plugin into a non-Java project and this plugin automatically applied java plugin (which also added Java-specific tasks: classes , buildDependents, buildNeeded, jar, testClasses). See details below.

I believe that if this plugin is used in a non-Java project, it should NOT automatically apply Java plugin to project (because users still can invoke the 'generateGitProperties' manually t

[2018-03-23 21:17] #82 closed

[2018-03-23 21:42] clementboone commented on #80
Updated the issue tittle and content with version 1.5.0.
Thanks for the tag and quick answer

[2018-03-24 02:34] tha2015 commented on #69
Added git.closest.tag.commit.count via PR #84

[2018-03-24 03:07] tha2015 opened #85 "Generated git.properties file should be sorted by property keys (like maven git commit id plugin)"

[2018-03-24 03:11] tha2015 commented on #69
Added git.total.commit.count via PR #86

[2018-03-24 03:11] #69 closed

[2018-03-24 03:41] #85 closed

[2018-03-24 05:06] #71 closed

[2018-03-24 17:06] tha2015 commented on #80
Merged PR #89  to update version to 1.5.0

[2018-03-24 17:32] tha2015 opened #91 "Include git.properties in this plugin jar for source code tracking (dogfooding)"

[2018-03-24 19:08] #91 closed

[2018-03-28 05:19] #68 closed

[2018-03-28 05:20] tha2015 commented on #70
I don't see a need to generate these keys, so closing this issue.

[2018-03-28 05:20] #70 closed

[2018-03-29 15:52] tha2015 opened #95 "Refactor logic of GitPropertiesPlugin into separate classes to support writing unit tests"

[2018-03-29 15:54] tha2015 opened #96 "Add more test cases to improve code coverage"

[2018-03-31 03:32] mrcasablr opened #97 ""gitRepositoryRoot" config doesn't work with 1.4.21"
All i'm using this plugin with Gradle 4.6. With 1.4.20 it works. On upgrading to 1.4.21 it cannot find my .git directory as it is at the project root.  When I specify the `gotGitDirectory` it fails with the following error

[code]

My `gitProperties` configuration looks like
[code]
Here is my `build.gradle` configuration
[code]
Do I have the correct configuration? Rolling back to 1.4.20 for now.

[2018-03-31 03:39] tha2015 commented on #97
There is no "dotGitDirectory" config key in v1.4.21. Please check  https://github.com/n0mer/gradle-git-properties/tree/v1.4.21 for info about v1.4.21

The "dotGitDirectory" property is going to be available since v1.5.0 which is not released yet. I assume that you used the document at (https://github.com/n0mer/gradle-git-properties/tree/master) which is NOT the right document for v1.4.21

[2018-03-31 07:04] #96 closed

[2018-03-31 07:04] #95 closed

[2018-03-31 11:40] mrcasablr commented on #97
@tha2015  Thank you for the response. There is definitely a regression between 1.4.20 and 1.4.21.

The following code with 1.4.20 works.
[code]

With 1.4.21, it breaks with error
[code]
The `.git` repo is present at `/home/mrcasablr/src/example/example-api/mgmt-api` directory

[2018-03-31 14:57] tha2015 commented on #97
There was a change to fix an issue regarding .git repo (see https://github.com/n0mer/gradle-git-properties/pull/50/commits/ee60dedaab83df28a6c1ed1ef0b2b0b412c52025 )

About your issue: it seems like the plugin tried to access mgmt-api/api/.git while the correct location is mgmt-api/.git. Can you try with gitRepositoryRoot='/home/mrcasablr/src/example/example-api/mgmt-api' to see if it works?

FYI.

[2018-03-31 15:15] mrcasablr commented on #97
@tha2015

`gitRepositoryRoot='/home/mrcasablr/src/example/example-api/mgmt-api'` did not help either.  Looks like it is looking for `.git` in the current folder than respecting the value of `gitRepositoryRoot`

[2018-03-31 15:31] tha2015 commented on #97
Please post the full stacktrace of the exception (use --stacktrace option of Gradle) and relevant config in build.gradle . It would be helpful to resolve the issue.

I suspect that you have multiple Gradle subprojects and the plugin is applied from from the top project. If yes, then it is a bit tricky to configure.

[2018-03-31 15:52] mrcasablr commented on #97
There are no subprojects. Here is the relevant gradle config
[code]
Here is the stacktrace
[code]
Additional details
[code]

[2018-04-01 06:06] tha2015 commented on #97
This is the code from BaseRepositoryBuilder.java:582

[code]
I guess that your git repo doesn't have any commit (just initialized) or something is wrong with it.

Please try to run `$ git log` command from mgmt-api/api directory to see if anything wrong with it.

[2018-04-01 06:09] tha2015 commented on #97
Thanks for the info. I will try to reproduce and will update later.

[2018-04-01 14:52] tha2015 commented on #97
@mrcasablr You are correct. It is a bug in version of 1.4.21
The change https://github.com/n0mer/gradle-git-properties/commit/ee60dedaab83df28a6c1ed1ef0b2b0b412c52025 made the plugin to evaluate the gitRepositoryRoot config too early in the process and so the configured value will not be used by the plugin.
This issue won't happen in the next version because I changed the logic recently to delay e

[2018-04-01 15:02] tha2015 commented on #97
Fixed by commit https://github.com/n0mer/gradle-git-properties/commit/ac7e5fa7b7cfd147954d0788ea535693e2a5d618#diff-80b4dd1b196ae82a704a775404384321

[2018-04-03 00:30] clamothe commented on #80
@n0mer Could you release a new version?

[2018-04-03 04:37] #97 closed

[2018-04-03 04:38] #48 closed

[2018-04-03 04:39] #23 closed

[2018-04-03 04:39] #14 closed

[2018-04-04 11:38] brempusz opened #102 "Add API to expose generated properties"
Could you expose generated properties as map or provide some api for accessing generated values? I would like to use generated values in other tasks. As a workaround I do this in `build.gradle`:

[code]

Just `gitProperties['git.branch']` or `gitProperties.find('git.branch')` without additional custom code would make more sense.

[2018-04-04 14:41] tha2015 commented on #102
Thanks for the suggestion. I'm thinking about exposing a Map as task output so the properties can be accessed as `generateGitProperties.properties['git.commit.id.abbrev']`
BTW because of the UP-TO-DATE check mechanism of Gradle, sometimes, the task will not be executed and so the Map would not be exposed, you will have to force task execution with
[code]
And of course you will still need
[code]
to

[2018-04-04 15:01] brempusz commented on #102
I don't see any benefits in having just exposed properties without the file. Gained performance boost will be negligible but it will introduce more complicated code.

[2018-04-05 07:41] tha2015 commented on #102
This feature should be supported in the next release v1.5.0. Specifically, `extProperty` config key will be able to be configure to expose the properties map under project.ext

[2018-04-07 05:44] tha2015 commented on #80
I'm not sure when we will have an official release, so I've created a 1.5.0-rc1 version for testing and published to my bintray repo at https://dl.bintray.com/tha/gradle-git-properties/

How to use it from your build.gradle

[code]

@n0mer Please help to release an official version, after that I will delete this rc1 version (to avoid having multiple versions at different repos).

[2018-04-13 10:42] pedro-carneiro opened #106 "Support multiple line commit messages"
I'm not entirely sure if this is an issue for this plugin or not, but full commit messages that span multiple lines are not set correctly in the `git.properties` file. Example:
[code]

The message should be set like:
[code]

[2018-04-13 14:05] tha2015 commented on #106
Yes, it is an known bug in v1.4.21 (see https://github.com/n0mer/gradle-git-properties/issues/28).
The fix for the issue will be in the next release (v1.5.0).

[2018-04-13 14:35] pedro-carneiro commented on #106
Alright, thank you!

[2018-04-13 14:35] #106 closed

[2018-05-09 06:48] tha2015 commented on #80
No. I cannot release a new version because I don't have necessary permissions on plugins.gradle.org to publish a new version.

About forking a new repo. I think we should give n0mer some time to release a new version (to avoid having many forked plugins). Of course, we will have to consider forking if n0mer cannot help us in next several months...

[2018-05-29 10:17] sdavids commented on #102
Please also add a task to display all generated properties.

[2018-06-02 21:05] tha2015 commented on #102
@sdavids  If it is for debugging purpose, I would suggest to use plugin version 1.5 with "--debug" option to display the generated map (see https://github.com/n0mer/gradle-git-properties/blob/master/src/main/groovy/com/gorylenko/GenerateGitPropertiesTask.groovy). If it is not for the debugging, why do you think the extProperty config will not sufficient for the job?

[2018-06-04 02:15] n0mer commented on #80
@gwake1 will do this today

[2018-06-05 08:32] n0mer commented on #80
[code]

thanks for patience

[2018-06-05 13:36] tha2015 commented on #102
Closing because the feature is now available in v1.5.0
Please open new ticket for other requests. Thanks.

[2018-06-05 13:36] #102 closed

[2018-06-05 15:37] n0mer commented on #80
@tha2015 in case you need to release - please ping me on https://fb.com/n0mer or skype: nikolay.gorylenko

[2018-06-05 15:59] varunmehta opened #107 "Error using version 1.5.0 | Execution failed for task ':generateGitProperties'."
spring-boot-version: 1.5.13

plugin version:
``` id "com.gorylenko.gradle-git-properties" version "1.5.0"```

[code]

[2018-06-05 16:12] varunmehta commented on #80
Tried and failed; Created: #107

[2018-06-05 18:26] cdmbr commented on #107
Temporary kludge to avoid this error:

[code]

[2018-06-05 20:31] tha2015 commented on #107
If possible, can you provide a minimal build.gradle to reproduce the issue? Thanks.

[2018-06-05 21:07] tha2015 commented on #107
Never mind, I can reproduce the issue now. Will provide a fix soon. Thanks for reporting.

[2018-06-05 21:19] tha2015 commented on #107
This issue comes from grgit 2.1.1 which being used by this plugin (see https://github.com/ajoberstar/grgit/issues/229 ). Specifically, grgit 2.1.1 using jgit with dynamic version range, so jgit 4.x is upgraded automatically to jgit 5.x when 5.x available recently (which is not backward compatible to 4.x).

Solution: We will need to upgrade the plugin dependency from grgit 2.1.1 to grgit 2.2.1 (usi

[2018-06-05 21:53] #80 closed

[2018-06-05 22:02] tha2015 commented on #107
I have delivered the fix for this issue.

@n0mer Can you help to publish a new version to fix this critical issue soon? Thanks.

[2018-06-06 04:11] tha2015 commented on #107
@varunmehta  @cdmbr  New version v1.5.1 is just published thanks to @n0mer

[2018-06-06 18:27] varunmehta commented on #107
Tested and works! Thanks a lot guys.

[2018-06-06 18:27] #107 closed

[2018-06-22 12:36] alfanse opened #109 "git.branch showing HEAD, not branch name"
I'm using gradle with:
[code]
and I noticed the /actuator/info endpoint has this
[code]

i.e. branch is not the branch name!
I was expected "develop"

I'm using:
[code]
[code]

[2018-06-22 14:05] tha2015 commented on #109
This issue is similar to issue #46 which was fixed in latest version v1.5.1
Can you try v1.5.1 and let us know if the issue is fixed? Thanks.

[2018-06-25 07:58] tha2015 commented on #109
@alfanse  Hi, have you had a chance to test the issue with latest version? Thanks.

[2018-07-02 00:09] tha2015 commented on #109
Closing because of no response

[2018-07-02 00:09] #109 closed

[2018-07-27 17:19] sdavids opened #110 "Improve doc for manifest example"
Please add the following snippet to your _generated properties_ section:

[code]

Non-Gradle/Groovy experts might wonder why ` 'Build-Revision': project.ext.gitProps['git.commit.id.abbrev']` does not work.

[2018-07-30 17:49] tha2015 commented on #110
Please verify the changes at https://github.com/n0mer/gradle-git-properties . Thanks.

[2018-08-01 17:37] #110 closed

[2018-08-10 00:00] tha2015 opened #112 "Feature request - git.build.number and git.build.number.unique support (like maven-git-commit-id-plugin)"

[2018-08-10 14:35] olivierboudet opened #113 "Does not work with shallow cloned repository"
When running generateGitProperties task from a shallow clone (depth=1), it fails :

[code]
This is the full output :
[code]

[2018-08-10 15:37] tha2015 commented on #113
Hi @olivierboudet ,

Which version are you using? And what does the plugin config look like?

As I know: 1. Shadow cloned repos have only one last commit (instead of the whole history), 2. if plugin is not configured explicitly which properties to be generated in git.properties files, all properties will be generated by default (that means it need the whole repo history).

In this case it is Commi

[2018-08-16 07:25] olivierboudet commented on #113
Hi @tha2015,

Thanks for your answer. You are right, it works well after removing git.commit.id.describe, git.closest.tag.commit.count and git.closest.tag.name.

So, with a shallow clone, the full list of properties available is :
[code]
Perhaps it would be easier to have an option to ignore this kind of error to avoid having to set the list of properties in all gradle build files ? If a property

[2018-08-24 01:09] tha2015 commented on #113
I'm still thinking about the best way to handle this scenario. We could add a flag to ignore the issues on shallow clones, but I have a feeling that it is a workaround and don't really like the idea.

[2018-08-30 17:42] tha2015 commented on #113
More info about the issue:

The root cause of the issue is because we implemented git.commit.id.describe, git.closest.tag.commit.count and git.closest.tag.name using http://ajoberstar.org/grgit/grgit-describe.html (which uses jgit  internally). And grgit and jgit both doesn't have fallback option ( like "--always" option of https://git-scm.com/docs/git-describe) so they will fail on shallow clones

[2018-09-01 20:53] tha2015 commented on #113
Fixed in v1.5.2

[2018-09-01 20:53] #113 closed

[2018-09-04 22:39] tha2015 opened #115 "Detect git branch name for multibranch pipeline Jenkins projects and detect branch names on other build servers (Bamboo, Gitlab, Teamcity etc )"
For multibranch pipeline Jenkins projects: See https://jenkins.io/doc/book/pipeline/multibranch/
For other build servers: See https://github.com/ktoso/maven-git-commit-id-plugin/tree/master/src/main/java/pl/project13/maven/git/build

[2018-09-08 13:39] sdavids opened #116 "Support Gradle build cache"
Please support Gradle build cache.

https://docs.gradle.org/current/userguide/build_cache.html#sec:task_output_caching_details

[2018-09-11 21:58] CristianGM commented on #116
I wonder how, this task is changing on every execution.

[2018-09-11 23:01] tha2015 commented on #116
From my understanding, when building with "--build-cache" option, gradle will store task output artifacts (annotated by @Output , in this case, it is the generated git.properties file) into GRADLE_HOME and will copy stored files back to build folder if the task input (annotated by @Input) are the same as a previous cached entry. The idea is to try to reuse some cached output files to reduce the bu

[2018-09-12 06:09] CristianGM commented on #116
You are right about how it work, but the issue is the input, would you use the `.git` folder as input?

About the `git.properties` what would be amazing is removing the comment with the timestamp so if I don't use the build.time the `git.properties` file would be the same for the same input.
That's not only because cacheable tasks need to have reproducible outputs, is because all the other tasks o

[2018-09-17 15:10] sdavids commented on #116
[code]

These two lines are changed on every build, therefore one cannot support a [reproducible build](https://reproducible-builds.org).

How the Spring Boot plugin supports reproducible builds/gradle build cache:

https://docs.spring.io/spring-boot/docs/2.0.5.RELEASE/gradle-plugin/reference/html/#integrating-with-actuator-build-info

[2018-09-17 15:16] sdavids commented on #116
The input would be _git.commit.id_ in combination with _git.dirty_.

Also there should be a way to remove/null the following:

- git.build.host
- git.build.user.email
- git.build.user.name

In that way one can use a remote build cache.

[2018-09-17 15:23] sdavids commented on #116
_git.commit.id_ and _git.dirty_ should be the input to get cacheable/[reproducible](https://reproducible-builds.org) builds.

[2018-09-17 16:18] tha2015 commented on #116
@sdavids I assume that this issue is needed (especially when using with remote build cache) because this task is generating new git.properties files every time, and as a result, the other tasks will execute again and will slow down the build process? Is that correct?
@CristianGM Although the git.properties file contains timestamp inside, only the properties are compared and if there is no new chan

[2018-09-17 17:27] CristianGM commented on #116
@tha2015 actually the issue is the file doesn't exist when you run the task on Travis-CI, so it changes every time.
Reproducible builds are important.

[2018-09-18 16:09] bamapookie commented on #115
I have this problem with Jenkins as well.  when building from a multibranch pipeline, the branch is reported as "HEAD".

[2018-09-18 16:39] bamapookie opened #117 "Gradle build with submodules fails with version 1.5.0+"
I get the following error when using 1.5.0, 1.5.1, or 1.5.2:

`Could not find method compile() for arguments [project ':submodule'] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.`

I do not get this error with version 1.4.21.

[code]

[2018-09-18 16:41] bamapookie commented on #117
The line that is failing is
[code]

[2018-09-18 17:07] bamapookie commented on #117
Putting `id 'java'` into the plugins fixed it.  I previously had it defined in the allprojects block, but it wasn't getting that far following the update to 1.5.0.

[2018-09-18 17:08] #117 closed

[2018-09-24 09:17] johannesjasper opened #118 "cannot find jgit getRef"
When I am running `generateGitProperties` I get the following error message:
[code]

It seems to be related to #107 .
As far as I can make out, `gradle-git-properties:1.5.2` uses `grgit:2.2.1` which in turn uses `jgit:4.11.0.201803080745-r`. In that version `getRef` is still availbale but marked as deprecated.
In later versions it is removed in favour of `findRef`.

Is it possible that somehow, so

[2018-09-24 10:00] johannesjasper commented on #118
Never mind. I also had `com.netflix.nebula:gradle-lint-plugin:latest.release` included which used `jgit:5.0.1.201806211838-r`. Downgrading it to `9.+` solves the issue

[2018-09-24 10:00] #118 closed

[2018-09-24 14:20] darioseidl opened #119 "What's the difference between git.build.version and git.commit.id.describe?"
Hello!

I have a project using this plugin, it generates a `git.properties` file containing:
[code]
I always assumed that the second part of `git.build.version` is the closest commit count, but apparently it's not. What is the 26 referring to here? Is there a way to make the `git.build.version` the same as `git.commit.id.describe`?

[2018-09-24 15:44] tha2015 commented on #119
git.build.version property is supposed to be the project.version of Gradle project.

In this case, it seems like you are using another plugin (https://github.com/palantir/gradle-git-version) to set project version to a "git-describe" value. The problem is is "gradle-git-version" plugin uses git-describe command with different options (comparing to the way "gradle-git-properties" plugin is generati

[2018-09-25 10:24] #119 closed, assigned to nobody

[2018-10-01 08:49] olivierboudet commented on #113
Thank you for very much, it works fine :)

[2018-10-03 04:45] tha2015 commented on #116
@sdavids  @CristianGM It looks like we need to implement this feature in  two steps: 1. make the build reproducible (same input must generate same input every time); 2. support build cache (i.e. add annotations to the task to allow Gradle to cache and reuse cached output if same input is found).

Luckily Brane recently contributed PR #120 which will help to create reproducible builds. I will work

[2018-10-05 01:35] tha2015 opened #121 "Build project with different JDK versions"
Project should be built by some CI pipeline with different Java versions to detect issues early

[2018-10-05 01:40] tha2015 opened #122 "JDK11 support - sorting test case failing"
[code]
So, `keys()` is not even called, therefore `SortedProperties` might need to override `entrySet()`:

[code]

_Originally posted by @bfg in https://github.com/n0mer/gradle-git-properties/pull/120#issuecomment-427205928_

[2018-10-05 06:36] ghilainm opened #123 "Support for Gradle 5.X"
It seems there is an issue with the library you use and Gradle 5.X.

See here for more details: https://github.com/ajoberstar/gradle-git/issues/276

[2018-10-05 07:03] tha2015 commented on #123
Thanks for the report. I will update the dependency as soon as grgit 3.0 is released.

To clarify: we are using grgit 2.2.1, not gradle-git which is not supported anymore

[2018-10-05 13:18] tha2015 commented on #123
I found only 3.0.0-beta.1 at https://github.com/ajoberstar/grgit

[2018-10-05 22:28] tha2015 commented on #122
Fixed. Will be in the next release.

[2018-10-05 22:28] #122 closed

[2018-10-05 22:39] tha2015 commented on #121
Example of building project with different JDK versions: https://github.com/playframework/play-scala-starter-example/blob/2.6.x/.travis.yml

[2018-10-06 18:30] tha2015 commented on #121
Added build status and pipeline to build with jdk 8 9 10 11

[2018-10-06 18:30] #121 closed

[2018-10-11 21:40] tha2015 commented on #115
Code was delivered to master branch. Should be included in next release (v1.5.3?)

[2018-10-24 17:49] tha2015 commented on #123
I have updated the plugin dependency to use grgit-core 3.0.0-beta.2 in commit d6e6282
This is a major change, so the plugin version is updated to 2.0.0-beta1

[2018-10-26 14:21] tha2015 commented on #123
Gradle 5.x is supported in new plugin release (v2.0.0-beta1)

[2019-01-10 14:10] mrcasablr commented on #123
grgit 3.0 was released Nov 14, 2018. - https://github.com/ajoberstar/grgit/releases

Any plans to do a GA release of 2.0?

[2019-01-10 15:38] tha2015 commented on #123
Commit ID 1d3a0abdba69d308338e27e0998478746e1f7eb3

[2019-01-10 15:38] tha2015 commented on #116
Updated by commit ID 1d3a0abdba69d308338e27e0998478746e1f7eb3

[2019-01-10 21:16] tha2015 commented on #123
Fixed in v2.0.0

[2019-01-10 21:16] #123 closed

[2019-01-10 21:16] tha2015 commented on #116
Fixed in v2.0.0

[2019-01-10 21:16] #116 closed

[2019-01-24 03:22] dkowis opened #124 "no git describe, or related information"
I couldn't find any reason why these items aren't populated. They should be, and it's really weird that they're not.

[code]

but in my repo:
[code]

I think it's using `git describe --long`, which results in:
[code]

Maybe this just needs an update to the readme to indicate that only annotated tags are picked up? Or should the behavior be based on tags?

[2019-01-24 04:43] tha2015 commented on #124
I have some questions:
1. What is the plugin version which you are using? (I assuming that 2.0.0, but just want to make sure)
2. Can you please try to run gradle with "--debug" option? It might provide some useful info for the problem

[2019-01-24 15:11] dkowis commented on #124
It is 2.0.0

I think the solution is that it uses `git describe --long`, and I expected it to use `git describe --tags`.

if I make an annotated tag, it picks everything up just fine, but not if I just use a regular tag. It's entirely possible that's intentional, it was just surprising to me.

[2019-01-24 17:25] tha2015 commented on #124
Thanks @dkowis

Now I understand the problem. The plugin doesn't have a config option to use non-annotated tags when generating "git.commit.id.describe" property.

I will consider to update the plugin to add the new config option soon.

In the meantime, you can workaround by using a custom property with the same name as the standard property (so it will use your logic to generate the value):

[cod

[2019-01-24 17:54] tha2015 commented on #124
FYI. I've update README.md at https://github.com/n0mer/gradle-git-properties with the snippet to explain how the option can be used to replace standard properties.

[2019-02-06 18:31] ctmay4 opened #125 "Git warnings in logs after updating to 2.0.0"
I've been using the plugin for quite a while and recently updated to 2.0.0.  All our CI builds now how the following warning:

[code]

Everything still seems to work correctly.  I researched this a bit online and it seems to be related to the JGit dependency update in 2.0.0.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=476639

For now I've just rolled back to 1.5.2 to get rid of the log messages

[2019-02-06 21:55] tha2015 commented on #125
Thanks @ctmay4 .

Analysis:

The message comes from jgit:5.1.3.201810200350-r which is being used by the plugin.

[code]
Source code: for [jgit 5.1.3](https://repo.eclipse.org/content/groups/releases/org/eclipse/jgit/org.eclipse.jgit/5.1.3.201810200350-r/org.eclipse.jgit-5.1.3.201810200350-r-sources.jar)

JGit issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=476639#c14 (I added comment 14)

Wo

[2019-02-07 15:48] ctmay4 commented on #125
Thanks for looking at this.  Our CI servers are indeed using a very old version of Git (2.6.3 released in Nov 2015).  I requested that it be updated and for now I have just downgraded to 1.5.2 to hide the warning.

I think this should be closed now.

[2019-02-07 15:48] #125 closed

[2019-02-22 00:10] #115 closed

[2019-07-05 13:26] rt-works opened #127 "Intellij + gradle + the plugin don't work correctly"
As you know IntelliJ in conjunction with Gradle generates built and compiled files into `out` directory instead to build like it's done if you use command line Gradle.  The problem is, that with using of the plugin the git.properties doesn't get generated into `out` and as a consequence, it's impossible to run spring boot application from the IntelliJ b/c of lack of the git.properties.
Any ideas o

[2019-07-08 06:18] tha2015 commented on #127
Have you tried to configure intellij like this https://stackoverflow.com/questions/54389138/how-to-have-intellij-use-gradle-build-directory-instead-of-out ?

[2019-07-08 06:54] rt-krz commented on #127
@tha2015 yes, that would work, but this is an extra step for developers to configure in order to start developing a project. I'm just asking why doesn't this plugin work in default IntelliJ way, where `out` is default output directory for compiled and assembled things?

[2019-07-08 21:17] tha2015 commented on #127
As I understand, IntelliJ uses "out/" directory by default (instead of using Gradle "build/" directory). And because the plugin generates git.properties file in "build/" directory, it is not recognized by IntelliJ.
(note: I'm not familiar with IntelliJ so I might be wrong)

I don't have a solution for this issue and I wonder how the other plugins which generating resource files will handle this si

[2019-07-09 06:25] rt-krz commented on #127
yes, that's a correct description of the behavior. I also don't know how exactly IntelliJ interprets the `build.properties` but for compileJava, compileKotlin plugins it doesn't seem to be a problem to output into `out`

[2019-07-09 17:41] tha2015 opened #128 "git.properties is missing when building with gradle 5.1.x, gradle 5.2.x"
For single project: on the first time when building the code (after checking out form git), the git.properties file might be missing.
[example.zip](https://github.com/n0mer/gradle-git-properties/files/3384489/example.zip)
Issue happens all the time

For a project with subprojects, the issue will happen all the time.
[project2.zip](https://github.com/n0mer/gradle-git-properties/files/3390853/projec

[2019-07-12 22:51] deeTEEcee commented on #116
just started using both gradle and this plugin. i don't really want the input/output to be a part of the gradle process and just want to generate the `git.properties file. is that an option somewhere?

[2019-07-12 23:02] tha2015 commented on #116
My understanding is you don't want the "gradle build" command automatically generate git.properties for you?
You can do that by removing the task dependency between generateGitProperties task and classes task as below:
`classes.dependsOn.remove("generateGitProperties")`
Note: I'm assuming that you are using java plugin in your build.gradle. If you don't use java plugin, you don't need to remove th

[2019-07-13 00:05] deeTEEcee commented on #116
I want to generate git.properties but I keep getting `Input property 'rootSpec$1' file ...git.properties has changed.` I don't want the git properties to affect any of my gradle tasks regardless of how the code changes. I'd like to leave that responsibility to the other tasks themselves and have `generateGitProperties` always be "up to date"

I've tried the following:
[code]
but when I add a new c

[2019-07-13 01:58] tha2015 commented on #116
I guess it is because you didn't configure which properties to be generated in git.properties file. And because by default, all supported keys will be calculated, including the key  "git.build.time" which will change every time gradle building your code, so the file will be re-generated.

Can you try to limit to only the keys you want and see if it works for you?
[code]

[2019-07-13 03:30] tha2015 opened #129 "Remove "git.build.time" property because it is not so useful and causing issues (file will always be re-generated)"
Remove "git.build.time" property because it is not so useful and causing issues (file will always be re-generated). The users who need a build stamp or something similar can always add it via customProperty config

[2019-07-13 03:31] tha2015 commented on #116
I checked "maven git commit id" plugin and it seems this property "git.build.time"  also caused  issues for users. So I opened issue #129 to remove this property completely

[2019-07-13 03:50] tha2015 commented on #129
Fixed. Will be in next release v2.1.0.

[2019-07-18 16:04] tha2015 commented on #127
Adding a example project for reproducing the issue
[demo.zip](https://github.com/n0mer/gradle-git-properties/files/3407378/demo.zip)

[2019-07-30 12:27] poznachowski commented on #129
Any plans for 2.1.0 release?

[2019-07-30 12:37] tha2015 commented on #129
Sorry, not at the moment. There are two issues which I would like to resolve before we have next release.

[2019-08-01 00:19] tha2015 commented on #127
I tried Spring Boot Gradle plugin and it also has a similar issue (build-info.properties is NOT generated in the out/ folder and the URL http://localhost:8080/actuator/info will not show properties when the application is executed from IntelliJ). There is also a question on SO about the issue https://stackoverflow.com/questions/47542270/how-do-i-generate-build-info-properties-in-the-intellij-out-d

[2019-08-12 10:25] n0mer commented on #128
@tha2015 can you please clarify, what is suggested work-around?

[2019-08-12 23:00] tha2015 commented on #128
@n0mer  No, I don't know how to avoid it.
BTW currently gradle have newer versions (5.3, 5.4, 5.5) so maybe we don't have to fix it? I put a note in the README about this issue.
Do you think we can go ahead and release a new version without fixing it?

[2019-08-14 17:39] tha2015 commented on #129
v2.1.0 is now published.

[2019-08-14 17:39] #129 closed

[2019-08-15 15:59] predhme opened #130 "Customize generate file-name"
It appears as though one can override the location of the generated file. However, it doesn't appear that the filename itself can be overridden:

https://github.com/n0mer/gradle-git-properties/blob/974716a25729d581a060add6f3de841fb070339e/src/main/groovy/com/gorylenko/GenerateGitPropertiesTask.groovy#L127

[2019-08-22 20:20] tha2015 commented on #130
Yes, it should be configurable.
BTW, just for my curiosity, do you know any case which needs to use a different file name?

[2019-08-26 13:47] predhme commented on #130
We are not using Spring Boot (at least not yet), but we have a use case to generate a file with information from Git, as well as other data. For instance, we are taking version information from Gradle and appending it to the file. We wanted to rename the file to "version.properties" so that the name of the file is more reflective of what it represents to our application.

[2019-08-26 14:30] tha2015 opened #131 "(Feature request) Add gitPropertiesResourceDir and gitPropertiesName to specify output file"
The current config "gitPropertiesDir" has some limitations:

- Cannot specify "git.properties" name
- When using default value "build/resources/main", it depends on "processResources" task to register "build/resources/main" as a resources folder (to be packaged  into output jar file). This is causing some issues in Gradle 5.1 and 5.2 (see issue #128 )
- When  using another folder for "gitPropertie

[2019-09-12 20:02] iveelsm opened #132 "Failures Upgrading TravisCI Builds to Xenial"
Background
---

I have a number of Java 8 projects, typically running on Trusty (14.04) for their builds failing after an upgrade to Xenial. The upgrade is relatively simple and requires two steps, moving from `dist: trusty` to `dist: xenial`. Then set the `jdk` block from `oraclejdk8` to `openjdk8`.

Versions Impacted
---
1.4.20

Issue
---

After the following changes outlined above, we start to

[2019-09-12 20:06] msleevi opened #133 "Failures When Upgrading Past 1.4.20"
Background
---

I have been attempting to upgrade several Java & Kotlin projecst up to a later version of the plugin from `1.4.20` unsuccessfully.

Versions
---
1.5.+

Issue
---

The issue that I see when attempting to upgrade is the following:
[code]

The gradle configuration is like so...

[code]

What I have tried
---

I have tried upgrading to a number of 1.5.X versions and the 2.0.0 & 2.1.0 v

[2019-09-12 21:57] #132 closed, assigned to nobody

[2019-09-15 17:49] msleevi commented on #133
Alright, well I don't think there is anything else to do here correct? We can't force this library to work with other libraries. Are we closing this @tha2015?

[2019-09-16 00:53] tha2015 commented on #133
Yes, we can close this issue. BTW I have updated the README.md to document this issue. Thanks for reporting.

[2019-09-16 02:01] #133 closed

[2019-09-16 10:20] n0mer commented on #133
@tha2015 the plugin in question: https://github.com/allegro/axion-release-plugin

[2019-09-17 00:27] tha2015 commented on #133
Thanks Nik.
I guess we should be make it configurable on which library to be used (gradle-git/grgit/grgit-core) to avoid these problems. Something similar to User Override Library Version (page 19 )

[2019-09-17 00:30] tha2015 opened #135 "Make grgit dependency version configurable"
To avoid the issues like https://github.com/n0mer/gradle-git-properties/issues/133 , we should allow the plugin to work with any grgit library available in the system and will use a default version of none is available. Something like User Override Library Version (page 19, https://www.slideshare.net/ysb33r/idiomatic-gradle-plugin-writing-56121903)

[2019-09-17 15:49] jbohnvn opened #136 "Add the `gitProperties` to the build.gradle.kts"
I have a springboot project using Kotlin and gradle.

I want to change the folder and file name of git.properties.
I added below piece of code to `build.gradle.kts` file, but I'm getting the following error `Unresolved reference: gitPropertiesDir` in intellij

`gitProperties {
    gitPropertiesDir = "${project.rootDir}/your/custom/dir"
}`

Could somebody help me to resolve it?

[2019-09-17 18:52] tha2015 commented on #136
Try to Refresh several times from Gradle view.

I'm attaching a sample project which worked for me. Try to import to your IntelliJ to see if it works for you.
[testapp.zip](https://github.com/n0mer/gradle-git-properties/files/3622979/testapp.zip)

[2019-09-18 05:38] jbohnvn commented on #136
Thanks a lot @tha2015
I tried to rebuild project in intelliJ then the issue has been resolved

[2019-09-18 05:38] #136 closed

[2019-09-21 18:25] #130 closed

[2019-09-21 18:37] tha2015 commented on #131
Published v2.2.0

[2019-09-21 18:37] #131 closed

[2019-09-21 23:23] tha2015 commented on #128
In v2.2.0, the new property key ( gitPropertiesResourceDir ) will allow putting git.properties file in a different directory to avoid this issue.  So closing this issue.

[2019-09-21 23:23] #128 closed

[2019-10-08 19:20] Jeansen opened #137 "gradle :generateGitProperties success but not file was generated"
I've got a Kotlin project, added the plugin and - just for a test - and ran: `gradle generateGitProperties

Her's what happened:

[code]

But no file was produced. What am I missing?

------------------------------------------------------------
Gradle 5.6.2
------------------------------------------------------------

Build time:   2019-09-05 16:13:54 UTC
Revision:     55a5e53d855db8fc7b0e494412fc

[2019-10-08 19:24] tha2015 commented on #137
Can you try with -debug option to see what happened?

[2019-10-08 22:15] Jeansen commented on #137
Oh, forget that I mentioned anything. As always, the idiot (me) sits in front of the screen ;-(
I simply forgot to apply the plugin after adding it to the plugins section. Well, I am still new to gradle (lame excuse).

[2019-10-08 22:15] #137 closed

[2019-10-09 16:07] ghilainm commented on #12
For me this issue still occurs all the time. The up-to-date check is never true. I am using version 2.2.0.

Here is how I apply the plugin

[code]

[2019-10-09 17:05] tha2015 commented on #12
When you configure extProperty, you want the git properties map (extProperty) to used by other task(s).  The mentioned logic (upToDateWhen) is to make sure that gradle-git-properties will always execute to populate the git properties map (so it can be used by other tasks).

Does it impact to your build somehow? Any suggestion to fix it?

[2019-10-09 17:07] tha2015 commented on #112
Adding the properties by default will impact to reproducible builds

[2019-10-09 17:08] tha2015 commented on #135
This might be overkill, will not implement for now

[2019-10-09 17:13] ghilainm commented on #12
It does not really impact my build but I was frustrated to not have up to date status!

Isn't there any call back in Gradle which could be executed to perform this after the up-to-date check of the task?  So that it is always executed even if the main task is not?

[2019-10-09 17:38] tha2015 commented on #12
I worry that filling the map object extProperty without executing the task would make the plugin hard to understand (and potentially causing new issues).

Do you need extProperty for other tasks to use? Maybe you should remove extProperty and have the UP-TO-DATE status again? ^^

[2019-10-18 18:53] alesbukovsky opened #138 "Wrong git.closest.tag.name value"
The `git.closest.tag.name` is not correct. Here is the head part my current branch commit history:
[code]
My expectation is that the closest tag should be `v1.6.0` and the value of `git.closest.tag.commit.count` should be 0.

Instead the closest tag is recorded as `v1.4.0` with the commit count of 14. So the tag is wrong although its distance from HEAD is calculated correctly.

Interestingly enoug

[2019-10-18 19:10] tha2015 commented on #138
I suspect that your tag is not annotated tag so it is not displayed by 'git describe' command. The reason for this is to be consistent with maven git plugin.
A workaround is to use custom property (see Readme doc).

[2019-10-18 19:20] alesbukovsky commented on #138
That's probably the case:
[code]

Although I am still puzzled why 1.5.0 worked for me.

[2019-10-18 19:23] alesbukovsky commented on #138
Thanks for a quick response. I will look at the custom property override, or parse the {git.tags}}.

[2019-10-18 19:23] #138 closed

[2019-10-29 13:43] kkocel commented on #127
I suggest adding information about in readme of the project - it took me a while to figure this out.

[2019-11-12 13:06] bfg opened #139 "Gradle 6.0 deprecation warning"
Gradle 6.0 displays the following message while running `generateGitProperties` task

[code]

[2019-12-18 06:13] sdelamo opened #140 "Gradle 6.0.1 No signature of method: org.ajoberstar.grgit.service.BranchService.current()"
I am getting an error when I apply the plugin to a Gradle 6.0.1 build.

[code]

[2019-12-18 14:20] tha2015 commented on #140
I suspect that there is another plugin using a different git library and cause a version conflict. You can try to use v1.4.x to see if it fixes the issue (more info here https://github.com/n0mer/gradle-git-properties/issues/133#issuecomment-531011047 )
To have more info about the issue, can you run gradle with --stacktrace --debug and see what is the root cause?

[2020-01-09 23:27] asaikali commented on #139
full stack trace for the warning on my machine.

[code]

[2020-02-09 03:06] mrcasablr commented on #139
Hello! Just curious if a fix in the works? I just hope this gets fixed before gradle 7.x release

[2020-02-09 04:34] tha2015 commented on #139
Thanks, I will have a look soon. Right now I don't have any idea how to fix it :)

[2020-02-09 05:06] tha2015 commented on #140
This is not a bug. The other plugin is causing a version conflict.So closing this issue.

[2020-02-09 05:06] #140 closed

[2020-02-09 05:55] tha2015 commented on #139
Will be in v2.2.1

[2020-02-09 06:17] tha2015 commented on #139
A new version v2.2.1 has been published. Please help to test it on new Gradle versions if you have some time. Thanks.

[2020-02-09 07:35] mrcasablr commented on #139
Tested 2.2.1 and it works

[code]

Thank you for fixing this quickly!

[2020-02-09 07:39] tha2015 commented on #139
Great! Thank you @mrcasablr

[2020-02-11 00:12] bfg commented on #139
Works for me as well :+1: Thank you!

[2020-02-11 00:12] #139 closed

[2020-02-18 21:33] mernst opened #144 "dotGitDir is incorrectly set under Java 11 in a git hook"
When I run `gradle generateGitProperties` from a git hook under Java 11, it sets `dotGitDirectory` to `$HOME/.gradle/daemon/6.1.1/.git` and fails.

Here is how to reproduce the problem:

[code]

When I run the above commands under Java 8, the commit succeeds.
When I run them under Java 11, they fail with

[code]

I can work around this by setting `dotGitDirectory` in my `build.gradle`, but it woul

[2020-02-18 21:56] tha2015 commented on #144
Thanks @mernst  for the detailed information. I will check and fix it soon.

[2020-02-19 06:19] tha2015 commented on #144
Hi @mernst

I could not reproduce the issue, the file git.properties was created correctly at tmp/randoop/build/resources/main/

My environment: OpenJDK 11.0.6+10 / Ubuntu 19.10

I notice that you are running the task with -debug flag. The plugin should have printed some useful info which might be useful to figure out the root cause. For example, you can find some info using below command:
`
git c

[2020-02-19 16:44] mernst commented on #144
My apologies for submitting a bug report that you cannot reproduce.
It's still happening on my end, but not on all operating systems.
In particular, the problem occurs on Centos 7.7 but not on Ubuntu 19.10.

Here is information for a computer on which the problem occurs:

[code]

I have attached the log of the `git commit` command, on the CentOS computer where the problem occurs.

[git-commit-outp

[2020-02-19 17:18] tha2015 commented on #144
Thanks @mernst . From the log file, it looks like something wrong happened when the plugin trying to detect git repository directory for the project. I will check on CentOS and let you know the root cause soon.

[2020-02-20 23:34] tha2015 commented on #144
I could reproduce the issue on CentOS 7. Thanks for your information. It looks like the issue is related to current directory when git executing the hook. I will debug more to see why it is different to Ubuntu

[2020-02-21 09:42] tha2015 commented on #144
New update: The issue is caused by changes in Java 11 regarding preventing setting working directory (user.dir) while Gradle depends on it to do different things (for example, the initial working directory was "randoop" and Gradle tried to change it to "daemon/6.1.1" but the initial value was still leftover somewhere and although they tried to fix it, see this issue https://github.com/gradle/gradl

[2020-02-22 20:07] tha2015 commented on #144
Issue is now fixed in v2.2.2 (just published)

FYI I also opened a issue https://github.com/gradle/native-platform/issues/113 for Gradle team regarding this

[2020-02-23 15:35] mernst commented on #144
I confirm that this corrects the problem.  Thanks for the fix!

[2020-02-23 15:35] #144 closed

[2020-02-23 17:33] tha2015 commented on #144
Thanks

On Sun, Feb 23, 2020, 7:35 AM Michael Ernst <notifications@github.com>
wrote:

[2020-02-27 03:47] aaditya-taparia opened #145 "don't fail build during task run when no .git directory is available"
Currently, if there is no .git directory available it seems like `generateGitProperties` fails

[2020-02-27 05:00] tha2015 commented on #145
Can you try this config? It should do the job.

[code]

[2020-02-27 05:30] tha2015 commented on #145
FYI, I've updated the README at https://github.com/n0mer/gradle-git-properties

[2020-02-27 05:41] aaditya-taparia commented on #145
Thanks!

[2020-02-27 05:41] #145 closed

[2020-03-05 13:13] sdavids opened #146 "Gradle 5.6 - Central management of plugin versions with settings script does not work"
Gradle 5.6 introduced [Central management of plugin versions with settings script](https://docs.gradle.org/5.6/release-notes.html#central-management-of-plugin-versions-with-settings-script).

### gradle-git-properties Version

2.2.2

### Gradle Version

6.2.2

### Expected Behavior

Plugin works.

### Actual Behavior

[code]

### Gradle Build Script(s)

settings.gradle.kts
[code]

build.gradle.kts

[2020-03-05 23:08] sdavids commented on #146
Stupid me, should have been:

settings.gradle.kts
[code]

[2020-03-09 04:33] #135 closed

[2020-03-18 19:17] x80486 opened #147 "[Question] Issue with GString lazy evaluation when using Kotlin DSL"
I'm using Gradle `6.2.2` with your plugin: `com.gorylenko.gradle-git-properties` (version `2.2.2`). I'm trying to "translate" the following (working all fine) snippet into Kotlin DSL:

[code]

...but this what I've come up with so far:

[code]

I can't figure out to make the "GString lazy evaluation" part working in Kotlin DSL, nor how the `gitProps` map fits on here; eventually that approach (whi

[2020-03-18 23:07] ttha1 commented on #147
The logic` "Build-Revision": "${ -> project.ext.gitProps["git.commit.id"]}"` is to delay evaluating the value when `shadowJar` is configured (the value is not available in configuration phase).

I assume that a Groovy closure will also work (haven't tried it yet), you don't have to look for something like GString in Kotlin.

So I believe that in Kotlin, it could be replaced by a Kotlin closure (no

[2020-03-19 00:29] x80486 commented on #147
That didn't work for me:

[code]

I also tried in this way...but same error message:

[code]

Somehow, the Gradle version never evaluates that expression until it's executed.

[2020-03-19 03:05] tha2015 commented on #147
You can run with -debug flag to see if the git properties plugin was executed before the error. A log file or example project would really helpful.

[2020-03-19 13:04] x80486 commented on #147
All right! If you clone [this repo](https://github.com/x80486/kotlin-dsl-git-props/), you will have what I'm trying to do.

[2020-03-22 01:17] tha2015 commented on #147
@x80486 My theory is not correct, sorry about that. Jar plugin will not execute closures to get manifest attribute values. It will call `toString() `method. So we need some object with a toString() method which will return the value we want. I tried the below logic and it worked for me (it is not good because I have zero knowledge about Kotlin)
[code]

[2020-03-24 01:30] x80486 commented on #147
I think you nailed it. It works for me...thanks a lot! :innocent:

[2020-03-24 01:30] #147 closed

[2020-03-24 08:58] demtnt opened #148 "Add Kotlin DSL examples to README.md"
I would be very useful to add Kotlin DSL example to README.md. Because I've spent 2-3 hours to find out how to replace Grovy:
`gitProperties {
    dateFormat = "yyyy-MM-dd'T'HH:mmZ"
    dateFormatTimeZone = "PST"
}`
to Kotlin DSL
`configure<com.gorylenko.GitPropertiesPluginExtension> {
    dateFormat = "yyyy-MM-dd'T'HH:mmZ"
}`

[2020-03-24 17:53] bellini-ea opened #149 "Gradle 7.0 Compatibility"
Using --warning-mode=all on a build results in the following warning:

Property 'gitProperties' is not annotated with an input or output annotation. This behaviour has been deprecated and is scheduled to be removed in Gradle 7.0. See https://docs.gradle.org/6.2.1/userguide/more_about_tasks.html#sec:up_to_date_checks for more details.

My configuration is like so:
[code]

[2020-03-24 22:17] tha2015 commented on #149
Just to confirm, which version are you using? This issue should not happen because there is an annotation @Internal on it.
Reference:
https://github.com/n0mer/gradle-git-properties/blob/2dd13d3c39ca646255fa2f62fb0f40c4951ce988/src/main/groovy/com/gorylenko/GenerateGitPropertiesTask.groovy#L34

[2020-03-24 22:32] bellini-ea commented on #149
Ah yes, my apologies.  I'm using Gradle 6.2.1 with the Kotlin DSL
id("com.gorylenko.gradle-git-properties") version "2.2.0"

[2020-03-24 23:28] tha2015 commented on #149
Try v2.2.2 to see if it is fixed. From https://github.com/n0mer/gradle-git-properties/releases it was fixed since 2.2.1

[2020-03-24 23:43] bellini-ea commented on #149
Yup, that fixes it!  Thanks so much.

[2020-03-24 23:54] #149 closed

[2020-03-27 20:53] tha2015 commented on #148
Thanks, will do.

[2020-03-27 21:00] tha2015 commented on #148
Done.
https://github.com/n0mer/gradle-git-properties/blob/master/README.md

[2020-03-27 21:00] tha2015 commented on #147
Added to README.md
https://github.com/n0mer/gradle-git-properties/blob/master/README.md
Thanks.

[2020-05-25 10:19] rohitkashyapvatta opened #150 "Getting the git.branch name as "HEAD" when gradle build is executed on Gitlab CI"
I am getting git.branch name as "HEAD" when the gradle build is executed on Gitlab CI and looked at the latest code where you have mentioned it is going to read the GIT LOCAL BRANCH but in my case it is still showing HEAD.

if I use the following:
gitProperties {
    branch = System.getenv('GIT_BRANCH')
}

then it says : "No such property: branch for class: com.gorylenko.GitPropertiesPluginExtensi

[2020-05-25 17:27] tha2015 commented on #150
I assume that you are using latest version of the plugin?

[2020-05-26 05:36] rohitkashyapvatta commented on #150
Yes I am using v2.2.2

[2020-05-26 20:13] tha2015 commented on #150
Thanks Rohit. I haven't had time to try it yet. At the same time, if you
can upload a simple example for the issue, it would be great.

On Mon, May 25, 2020, 10:36 PM Rohit Vatta <notifications@github.com> wrote:

[2020-05-30 20:49] #148 closed

[2020-05-30 20:49] #112 closed

[2020-05-30 21:05] tha2015 commented on #150
@rohitkashyapvatta

I tested with a gradle project and it worked for me. Also tried with latest gradle version and it worked correctly.

So please check:

1. System.getenv('GIT_BRANCH')  does return some value. Note that if GIT_BRANCH system environment doesn't exist, plugin will use repo branch (HEAD) as fallback value

2. The error "No such property: branch" seems to come from an old version som

[2020-06-07 03:44] tha2015 commented on #150
I assumed that you have resolved the issue, so closing the ticket. Please feel free to reopen if you still have the issue.

[2020-06-07 03:44] #150 closed

[2020-06-18 20:18] mozdynjr commented on #127
For someone still struggling with this one, this SO answer gave me the idea to solve it in similar way
https://stackoverflow.com/a/56023137
For me dummy properties file was far better that changing how Idea handles builds.

[2020-06-18 21:00] fabianMendez opened #151 "Property to specify that classes tasks don't depend in this task"
I would like not to always generate the git properties file, because if my test task depends on this plugin, whenever I change my git branch (even if is the same commit or the cache is valid) it re-runs all the tests in the CI.

If I had the option to not always generate the file I would run the task when I need it.

[2020-07-07 15:45] tha2015 commented on #151
What do you mean by changing git branch (in the CI pipeline)?
Also you mentioned about two things "Property to specify that classes tasks don't depend in this task" and "option to not always generate the file", can you clarify what is the requested option for the plugin?

I have a feeling that adding a property "generateGitPropertiesFile" (true/false) might be useful to control the plugin from com

[2020-07-11 01:37] fabianMendez commented on #151
Yes, after the branch is merged its name changes

I think that whichever option that avoids other tasks from re-runnnig, the readme says that "this plugin will configure any classes task to depend on `generateGitProperties` task", so I thought that if this was configurable I may turn it off and only run it when I need it, but if a command line does the same, that's great.

I think that configuring

[2020-07-21 15:57] joschi opened #152 "Reuse or cache Git properties for multi-project builds"
I'm using the `gradle-git-properties` plugin in a Gradle multi-project build with around 100 subprojects and a rather long history, so that fetching the Git properties takes some time.
This project lives in a single Git repository, so that the Git properties would have to be generated only once and could be passed to the subprojects.
Each subproject should have its own `git.properties` file with t

[2020-07-22 06:49] tha2015 commented on #152
Thanks @joschi for your sample repo. It helped me a lot.

I think you are correct that the plugin is slow on repositories with many commits.
I ran profiling with your provided repo and it looks like the plugin is slow when calculating "git.total.commit.count" property (I think it is related to this issue https://github.com/ajoberstar/grgit/issues/210 )

One workaround is to avoid generating that p

[2020-07-22 07:24] joschi commented on #152
@tha2015 Thanks for looking into this!

I've beefed up the test repo to 50,000 commits and ran a build with build scan on it, both with the custom property for `git.total.commit.count` and without it.

Build Scan without custom property: https://scans.gradle.com/s/dru3ttz6f4opq (total 22s)
Build Scan with custom property: https://scans.gradle.com/s/zya7xpd75qu6k (total 5s)

So overriding the `git.

[2020-07-22 08:33] joschi commented on #152
Anecdotal Evidence: For the real-world repository, overriding `git.total.commit.count` brought down the time for `generateGitProperties` from 2m33s to 31s. 👍

[code]

[2020-07-25 19:38] tha2015 commented on #152
@joschi Can you help to test the latest version 2.2.3 to see if it works correctly? Thanks

[2020-07-27 10:21] joschi commented on #152
@tha2015 Works for me, thanks! 🎉

Here's the comparison between gradle-git-properties 2.2.2 and 2.2.3 in https://github.com/joschi/gradle-git-properties-multi-module-test:

*gradle-git-properties 2.2.2:*
[code]

*gradle-git-properties 2.2.3:*
[code]

[2020-07-27 10:21] #152 closed

[2020-08-04 15:11] smougenot commented on #14
Looks like it is on the way
https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475#c59

[2020-08-04 15:14] smougenot opened #155 "Please re-open issue GH-14"
Looks like the issue GH-14 can be re-opened with latest information on the JGit bug report (see comment on the GH-14 issue)

[2020-09-30 01:39] itsnagaraj commented on #151
I would love this feature too. We use monorepo and every time we switch branches or pull latest from remote, most tasks are executed again (checkstyle checks, tests) because the commit SHA has changed and git.properties file is generated again.

[2020-10-01 03:44] ttha1 commented on #155
I checked the link and it looks like JGit hasn't supported worktree yet

[2020-10-01 03:50] ttha1 commented on #151
I'm still not clear on how this config property will be used. What is the value of the plugin if the property is always true or always false? Can you more details and how the plugin will work with different scenarios? Thanks.

[2020-10-01 04:37] itsnagaraj commented on #151
the value will not be always false or always true, then it will defeat the purpose of the plugin. I basically want to disable this plugin when developers are building projects locally on their laptop as change in commit-sha is triggering the tasks that has already been run (like checkstyle, tests etc.,). I only want to enable them when I deploy to an environment where commit-sha becomes handy to d

[2020-10-01 04:54] tha2015 commented on #151
Thanks. It is clear now. I do think it will be useful (maven plugin has something similar)

BTW
`generateGitProperties.outputs.upToDateWhen { false } ` might be useful while the new property is not yet available.

[2020-10-01 09:46] itsnagaraj commented on #151
Setting generateGitProperties.outputs.upToDateWhen { true } doesn't help. I see that code that has already been built is built again.

[2020-10-24 14:55] ttha1 commented on #151
How about using enable property like this:

[2020-11-14 00:10] antbewes opened #157 "No git.properties file generated with Gradle 4.10.3"
The following is not generating the git.properties file:

`>gradlew clean build`

Called explicitly however it is working:

`>gradlew  generateGitProperties`

Here's part of my build.gradle file, and I'm using Java 8
[code]

[2020-11-14 00:57] tha2015 commented on #157
This task depends on "classes" task if project is a Java project (i.e. using Java plugin).
Can you try "./gradlew classes -debug" to see why the plugin was not executed?

[2020-11-14 10:11] antbewes commented on #157
It's working as expected now. I suspect I was building via IntelliJ which was using the /out/ dir instead which is known not to work. Thank-you

[2020-11-14 10:11] #157 closed

[2021-01-19 06:30] sureshg opened #159 "No such property: out for class: NormalizeEOLOutputStream in JDK 17 EA build."
Using the latest plugin (`id("com.gorylenko.gradle-git-properties") version "2.2.4"`) on JDK 17 throws the `No such property: out` error.

[code]

[code]

[2021-01-19 07:10] sureshg commented on #159
Sorry, nm. It got fixed with `--illegal-access=permit` jvm args

[2021-01-19 07:10] #159 closed

[2021-02-27 16:34] wyhasany opened #160 "Support config-cache"
When I run my application with `config-cache`. I receive warns that `gradle-git-properties` doesn't support it.
![image](https://user-images.githubusercontent.com/317662/109393321-4006c800-7921-11eb-86fd-8c4aa0529f89.png)
It seems like [Undeclared reading of environment properties](https://docs.gradle.org/6.8.3/userguide/configuration_cache.html#config_cache:requirements:undeclared_env_var_read).

[2021-03-02 17:16] ttha1 commented on #160
Thanks for reporting the issue. I will have a look into it soon.

[2021-03-02 17:17] tha2015 commented on #160
Thanks for reporting the issue. I will have a look into it soon.

[2021-03-03 12:39] dshrestha opened #161 "info api not showing git info with gradle-git-properties plugin in grails 4 app"
I am trying to get git commit details as part of "/actuator/info" api end point using the gradle-git-properties plugin by following https://guides.grails.org/adding-commit-info/guide/index.html guide but having no luck with it. Steps I followed:

* "sdk install grails 4.0.8" //installing latest grails 4 version using sdkman
* "sdk use grails 4.0.8" //making sure my current shell is using latest ve

[2021-03-14 18:27] tha2015 commented on #161
This is not an issue with the plugin itself and I'm not familiar with grails to answer this question. Please review and close the issue if it is an issue with the application.

[2021-03-16 05:02] cjr333 opened #166 "jcenter shutdown is planned"
I heard of jcenter shutdown and found that gradle-git-properties use jcenter as repositories.
(https://blog.gradle.org/jcenter-shutdown)

Do you have a plan to change gradle repositories?

[2021-03-21 14:25] joschi commented on #166
@cjr333 From [JCenter shutdown impact on Gradle builds](https://blog.gradle.org/jcenter-shutdown):

And from that blog post:

So I think we're safe. 😉
https://github.com/n0mer/gradle-git-properties/blob/643136727ca66c43a3726f8ac1dd9d7d074e029c/build.gradle#L4

[2021-03-21 14:27] tha2015 commented on #166
Actually we have jcenter repo in build.grade at https://github.com/n0mer/gradle-git-properties/blob/643136727ca66c43a3726f8ac1dd9d7d074e029c/build.gradle#L16

[2021-03-21 15:42] #166 closed

[2021-03-24 12:02] jj-sn opened #168 "RepositoryNotFoundException for sub project in git hook"
:wave: Hi, I get a `RepositoryNotFoundException` when I apply the plugin to a gradle sub project and run `generateGitProperties` from a git hook. The plugin seems to be looking for the git repository in the sub project directory instead of the root project directory. The gradle task runs successfully when executed directly.

Structure:
[code]

settings.gradle:
[code]

sub/build.gradle:
[code]

.gi

[2021-03-24 12:13] jj-sn commented on #168
I used:
* git 2.17.1
* gradle-git-properties 2.2.4
* Gradle 6.1.1
* JVM 11

[2021-03-26 03:45] #160 closed

[2021-03-30 06:34] joschi commented on #168
@jj-sn Have you tried setting `failOnNoGitDirectory = false` in your Gradle build as described in the README file?

[2021-03-30 17:50] cdalexndr opened #169 "Gradle#projectsEvaluated(Closure) on build 'MyProj' cannot be executed in the current context."
Plugin verison 2.3.0.
Gradle version 6.5.1

[code]

[2021-03-30 20:52] ismarslomic commented on #169
Same error message here as well:
Plugin verison `2.3.0` (upgraded from v`2.2.4`)
Gradle version `6.8.3`

Using Kotlin DSL for gradle. No other plugin configuration in `build.gradle.kts` other then following:
[code]

[2021-04-06 12:03] holgerstolzenberg commented on #169
Can confirm this is happening to us also after upgrade from 2.2.4 -> 2.3.0

[2021-04-06 12:06] cdalexndr commented on #169
My workaround without using this plugin, for Spring Boot:
[code]

[2021-04-07 08:05] joschi commented on #169
Ugh, sh*t.

I'll take a look at it and fix it. I already could build a test to reproduce this error behavior.

[2021-04-07 17:28] joschi commented on #169
I gave it a try in https://github.com/n0mer/gradle-git-properties/pull/170.

If possible, more eyes on the changes would be welcome. I don't want to break it again. 😉

[2021-04-07 18:20] lazystone opened #171 "Support JDK 16"
Plugin fails under JDK 16:

[code]

[2021-04-09 12:20] ruempel commented on #171
I can confirm the behavior.

[2021-04-09 15:15] holgerstolzenberg commented on #171
Yap - same here.

[2021-04-10 11:04] DuncanCasteleyn commented on #171
Issues is also present on version 2.3.0

[2021-04-12 07:42] joschi commented on #171
This error is caused by some changes in Java 16:

- [JEP 260: Encapsulate Most Internal APIs](https://openjdk.java.net/jeps/260)
- [JEP 396: Strongly Encapsulate JDK Internals by Default](https://openjdk.java.net/jeps/396)

Try adding the following line to your `gradle.properties` file (or add `--illegal-access=permit` to the existing `org.gradle.jvmargs` property) to work around the issue for now

[2021-04-13 02:22] tha2015 commented on #169
I've published version 2.3.1-rc1
Please try it. Thanks.

[2021-04-13 07:32] joschi commented on #169
I've just updated a large multi-module project with Gradle 6.8.3 and it worked (in contrast to gradle-git-properties 2.3.0).

[2021-04-13 07:57] lazystone commented on #169
I tried 2.3.1-rc1 on Gradle 7.0/JDK 16:
[code]

[2021-04-13 10:00] joschi commented on #169
@lazystone This is a different issue. Try without OpenJDK 16 (see https://github.com/n0mer/gradle-git-properties/issues/171).

[2021-04-13 10:22] swanandvk opened #173 "Support Gradle 7"
Plugin doesn't work with gradle 7

[2021-04-13 11:58] joschi commented on #169
@lazystone I have to apologize. This is indeed an issue with the latest change and a fix is following.

Thanks for reporting! ❤️

[2021-04-13 12:01] joschi commented on #173
@swanandvk Could you please elaborate on your issue?

- What exactly doesn't work?
- What's the exact error message?
- Could you provide a minimal example demonstrating your issues?

[2021-04-13 12:21] swanandvk commented on #173
@joschi sure

* What went wrong:
After upgrading to gradle version 7 , the build is failing with the error message
[code]

[2021-04-13 12:31] joschi commented on #173
@swanandvk Which version of this plugin are you using?

[2021-04-13 13:47] ahmetgeymen opened #175 "Gradle assemble throws error when it couldn't find .git directory"
When I try to `gradle assemble` from master repo which I use this plugin in a submodule repo with command below;

`git submodule foreach "if [ -f build.gradle ]; then gradle assemble || true; fi"`

I encounter with a warning that it can't find directory `.git/config`.

I use version 2.2.4, and I suppose line below throw an exception when it could not find any `.git` directory.

https://github.com/

[2021-04-14 14:36] markusheiden commented on #173
Using adoptopenjdk 16, sourceCompatibility = JavaVersion.VERSION_16

2.2.4 produces
Task :generateGitProperties FAILED
Caught exception during close(): groovy.lang.MissingPropertyException: No such property: out for class: com.gorylenko.writer.NormalizeEOLOutputStream

2.3.0 produces
Could not determine the dependencies of task ':bootJar'.
Could not create task ':classes'.
 Gradle#projectsEvaluate

[2021-04-14 14:50] markusheiden commented on #173
The issue with 2.2.4 seems to be jdk 16 related. When using jdk 15 it works.

[2021-04-14 15:13] joschi commented on #173
There are a lot of things mixed up here. 😓

See https://github.com/n0mer/gradle-git-properties/issues/171#issuecomment-817569604

This is (unfortunately) a known broken release as stated in the README.
https://github.com/n0mer/gradle-git-properties/issues/169

https://github.com/n0mer/gradle-git-properties/issues/169
https://github.com/n0mer/gradle-git-properties/pull/174

[2021-04-14 15:46] joschi commented on #175
@ahmetgeymen Could you please provide a minimal example project reproducing the issue or elaborate on your Gradle project hierarchy and how it maps to the Git submodules? Preferably the first option (minimal project).

I'm not quite clear what the actual set up is in your case.

[2021-04-15 04:11] usr42 commented on #173
Version `2.2.4` and `2.3.1-rc` are working for me. (Kotlin project with JDK11)

[2021-04-15 06:17] swanandvk commented on #173
@joschi 2.2.0

[2021-04-15 06:35] joschi commented on #173
Try version `2.3.1-rc`.

[2021-04-15 06:55] swanandvk commented on #173
@joschi  2.2.4 worked ✅

[2021-04-16 19:07] librucha commented on #173
Version 2.3.x on gradle 7.0 and OpenJDK 14,16 fires error:
[code]

[2021-04-17 09:31] joschi commented on #173
@librucha Try version 2.3.1-rc.

[2021-04-17 11:37] librucha commented on #173
@joschi If you ment version "2.3.1-rc1" this is the same problem.
[code]
It was the reason why i used "version 2.3.x" in previous post. ;)

[2021-04-18 23:59] ahmetgeymen commented on #175
@joschi

Hello, you can access a sample super project to try to. https://github.com/ahmetgeymen/superproject-doge

---

After cloning the super project, you need to run this command to get the submodule.

`git submodule update`

It clones the submodule without `./git` directory. However `./git` exists as a file with content like this:

`gitdir: ../.git/modules/submodule-web-foo`

That's why I use

[2021-04-19 02:08] ahmetgeymen commented on #175
As far as I can find, I will try to list call stack below.

From version 2.2.3 to 2.2.4 only `org.ajoberstar.grgit:grgit-core` is updated from `3.1.1` to `4.1.0`.

We can see that `GitDirLocator.lookupGitDirectory(GitDirLocator.groovy:32)` is starting to find git directory location.

https://github.com/n0mer/gradle-git-properties/blob/4a98061dd2043a556290e274047903c92373386f/src/main/groovy/com/go

[2021-04-20 16:53] donbeave opened #176 "No such property: out for class: com.gorylenko.writer.NormalizeEOLOutputStream"
I'm getting this error when using `2.3.1-rc1` version with Gradle 7.0:

[code]

[2021-04-21 06:09] joschi commented on #176
Duplicate of #171

[2021-04-21 06:10] joschi commented on #176
@donbeave See https://github.com/n0mer/gradle-git-properties/issues/171#issuecomment-817569604 for a workaround.

[2021-04-21 10:21] donbeave commented on #176
@joschi thank you! I'll close the issue.

[2021-04-21 10:21] #176 closed

[2021-04-22 16:04] shalugin commented on #171
Probably this is because Groovy uses reflection to access protected field in class FilterOutputStream.
What if we just save `out` in variable in class NormalizeEOLOutputStream?

[2021-04-22 16:05] shalugin commented on #171
Or just compile class `NormalizeEOLOutputStream` as just Java class?

[2021-04-22 19:46] shalugin commented on #171
@joschi
Renaming `NormalizeEOLOutputStream.groovy` to `NormalizeEOLOutputStream.java`, fixes this issue.

[2021-04-22 20:01] joschi commented on #171
@shalugin Would you create a pull request for this?

[2021-04-22 20:16] shalugin commented on #171
@joschi Done https://github.com/n0mer/gradle-git-properties/pull/177

[2021-04-22 20:24] ttha1 commented on #171
Can you see if we can build with JDK16? https://github.com/n0mer/gradle-git-properties/commit/b8b5ca92a8bd1ecf8eaa94e37a28ed0071d89a17#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485

[2021-04-22 20:48] shalugin commented on #171
@ttha1

Building on jdk16 is possible only with gradle7 that ships with groovy3.

[2021-04-23 03:24] #171 closed

[2021-04-23 05:39] shalugin commented on #171
@tha2015 Big thanks for quick review, merge and release.

[2021-04-23 06:43] shalugin commented on #173
@swanandvk please try version 2.3.1-rc3

[2021-04-23 12:33] tha2015 commented on #171
You are welcome!

[2021-04-23 21:53] DuncanCasteleyn commented on #173
Tried running on Java 16 and Gradle 7.0 with 2.3.1-rc3 and this works fine for me.

[2021-04-23 22:21] librucha commented on #173
For me is working. thanks.

[2021-04-27 07:59] joschi commented on #169
@holgerstolzenberg @lazystone @cdalexndr Can you confirm that the latest version of this plugin is working in your projects?

https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties/2.3.1-rc3

[2021-04-27 08:03] lazystone commented on #169
Works for me 👍🏽

Gradle 7.0, Java 16.0.1

[2021-04-27 08:08] theexiile1305 commented on #169
Hi there,
i can also confirm, that Version `2.3.1-rc3` is working for me 👍
Environment: Gradle 7.0, Java 11.0.1 and Kotlin 1.5.0

[2021-04-27 13:44] #169 closed

[2021-04-28 16:30] joschi commented on #173
@tha2015 Since the latest changes all seem to be working, should we close this PR and release gradle-git-properties 2.3.1?

[2021-04-29 04:21] tha2015 commented on #173
@joschi Sure, v2.3.1 has been published.

[2021-04-29 07:16] joschi commented on #173
@swanandvk Should we close this issue since the latest release is working with Gradle 7?

[2021-04-29 22:21] sodevel opened #179 "Use git properties for WAR filename"
I am trying to use some git properties as part of the filename of the WAR file created by the war task, however Gradle always complains the property does not exist. I am using lazy GString evaluation to set the archiveFileName property of the war task but that doesn't work in constrast to the example using this approach to insert the information into the manifest.

[2021-05-03 18:55] sodevel commented on #179
After doing some research i found a solution for this issue myself. The culprit is that the git information gets extracted during the execution phase but the war task gets configured during the configuration phase. Following the [Gradle suggestions](https://docs.gradle.org/current/userguide/common_caching_problems.html#suggestions_for_authoring_your_build) you have to use a separate configuration

[2021-05-05 13:35] remy-tiitre opened #180 "Bintray is shutting down"
Have you taken the necessary steps to prepare for bintray shutdown? https://plugins.gradle.org/docs/bintray

I can't use 2.3.1 version, will get an error:
[code]

When I open this url it will redirect me to https://jcenter.bintray.com/gradle/plugin/com/gorylenko/gradle-git-properties/gradle-git-properties/2.3.1/gradle-git-properties-2.3.1.pom which made me think that you haven't done this migratio

[2021-05-10 05:49] #173 closed

[2021-05-10 08:28] joschi commented on #180
The plugin is being published with the Gradle Plugin Publish plugin as recommended by https://plugins.gradle.org/docs/bintray and with gradle-git-properties 2.3.1 having been published on 29 April 2021 (i. e. after the 1 April 2021 deadline mentioned in the article) it should be alright.

https://github.com/n0mer/gradle-git-properties/blob/d5e95f0b3f36409bcfd7c8b44fd48f1ee2fa3764/build.gradle#L5

[2021-05-11 13:53] shalugin opened #181 "[Feature request] Use MapProperty<String, Object> instead of Map<String, Object> in GitPropertiesPluginExtension.customProperties"
It would be convenient to use lazy MapProperty<String, Object> on GitPropertiesPluginExtension.customProperties.
With this change it would be easy to implement another plugin that initialize some properties:
[code]

[2021-05-31 07:59] remy-tiitre commented on #180
What happens, when you open this url in your browser: https://plugins.gradle.org/m2/gradle/plugin/com/gorylenko/gradle-git-properties/gradle-git-properties/2.3.1/gradle-git-properties-2.3.1.pom, for me it redirects to jcenter.bintray.com for some reason.

I apply it in init script but it should not matter. I commented out this in my init script:
[code]
And thats how I apply it in my init script:
[

[2021-05-31 08:18] joschi commented on #180
The referenced artifact coordinates are incorrect.

Please use the coordinates documented at https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties/2.3.1.

[2021-05-31 08:32] remy-tiitre commented on #180
Yeah, I missed that it had changed. Its working now.

[2021-05-31 08:32] #180 closed

[2021-06-16 08:12] spyro2000 commented on #109
I have the same problem with version 2.2.4 (build was done by GitLab):

![image](https://user-images.githubusercontent.com/8479925/122183205-4ba7db80-ce8b-11eb-9356-c2e9986e324b.png)

[2021-06-16 08:15] spyro2000 commented on #150
I have the same problem with 2.2.4 (also GitLab):

![image](https://user-images.githubusercontent.com/8479925/122183647-bb1dcb00-ce8b-11eb-86a5-7c43f557967d.png)

[2021-06-16 17:49] spyro2000 opened #182 "How to use this with GitLab (branch name always 'HEAD')?"
Hi there,

really loving this plugin but as GitLab always checks out all branches in detached state, the branch name will always have the value 'HEAD'.

I tried to resolve this by providing a fallback as an environment variable:

(gitlab-ci.yml):

![image](https://user-images.githubusercontent.com/8479925/122267969-cac50000-cedb-11eb-8009-2f202c3a6c7a.png)

(build.gradle.kts)

![image](https://use

[2021-06-16 19:55] tha2015 commented on #182
Normally, the plugin will try to use the system environment variable `CI_COMMIT_REF_NAME` when running with GitLab
Ref:
https://github.com/n0mer/gradle-git-properties/blob/d5e95f0b3f36409bcfd7c8b44fd48f1ee2fa3764/src/main/groovy/com/gorylenko/properties/BranchProperty.groovy#L17

But I'm seeing you are providing a banch name which comes from comes from `GIT_BRANCH` system env var

`branch = System

[2021-06-17 09:20] spyro2000 commented on #182
Hello tha2015 and many thanks for your quick response,

I'll guess, it might be a problem that it is a docker-based build. So maybe the ENV var doesn't make it into this environment and is than set to a blank.

I tried to pass this variable to the script, but it seems not to work:

So maybe it's not a fault of your plugin but from our docker configuration.

[2021-06-17 11:35] spyro2000 commented on #182
UPDATE: It works! :)
I just need to pass the variable down to the docker file! :)

### Step 1: .git.lab-ci.yml

[code]
...

[code]

### Step 2: docker.sh (which calls the actual docker build)
[code]

### Step 3: docker.build.Dockerfile
[code]

### Step 4: build.gradle.kts / build.gradle
[code]

Now it works :)

![image](https://user-images.githubusercontent.com/8479925/122389045-cd256980-cf70-11eb

[2021-06-17 21:52] tha2015 commented on #182
Glad that it works for you now! Thanks for the update.

[2021-06-27 10:22] ArcticLampyrid opened #183 "Docs: add example for Kotlin DSL about `customProperty`"
I had some time to find out how to use `closureOf` for custom property.
[code]

[2021-08-04 18:47] sodevel commented on #183
Actually this can be done more easily, the [Gradle Kotlin DSL Primer](https://docs.gradle.org/current/userguide/kotlin_dsl.html#groovy_closures_from_kotlin) has a good description of how to use Groovy closures, your example can be rewritten as follows:
[code]
If you apply the plugin statically by using the plugin block you don't have to dynamically configure the plugin but can just use:
[code]

[2021-08-09 20:02] eriknyk opened #185 "Error trying to set a custom resources dir using `gitPropertiesResourceDir` config"
I just gor and error trying to set a custom resources dir using `gitPropertiesResourceDir` config:

[code]

I'm using gradle build tools v7

Regards.

[2021-08-11 23:34] sodevel commented on #185
It is always very helpful to provide zero context but the plain error message, now everyone can pull out their crystal balls and guess what you did, try to reproduce and supply numerous solutions that all don't work because they guessed wrong...

The error message says you tried to assign a GString to a directory, i would try to assign a directory instead.

[2021-08-12 00:05] eriknyk commented on #185
I'm only trying what docs says:

![image](https://user-images.githubusercontent.com/205721/129118759-5c0a4d93-c639-4d7b-a7bc-e8dae3f2b457.png)

And the error that it cause is the displayed above.
So seems we need fix docs.

Pdta.

I've fixed changing as following:

[code]

[2021-08-12 00:23] tha2015 commented on #185
@eriknyk You are right, the doc is out of date and should be fixed.
In a [recent commit](https://github.com/n0mer/gradle-git-properties/commit/9903135ecd2a7d60cdfe5c258df5c66e130b3365#diff-9e0acc7401e62814a7522cb11e2e193e9900aa50d943890611383d3e5d267788),  type of `gitPropertiesResourceDir` has been changed but README was not updated

[2021-09-09 16:20] keteh opened #186 "License not detected by FOSSA"
The apache 2 license is not being detected by FOSSA (https://fossa.com). I think that it is possibly related with the file named LICENSE.txt instead of just LICENSE.

Would it be possible to change the name of the LICENSE file?

Thanks.

[2021-09-30 15:18] ctmay4 opened #188 "customProperty"

[2021-09-30 15:18] #188 closed

[2021-10-05 08:01] Rib47 opened #189 "Fails with MissingObjectException when build on Atlassian Bamboo (Bitbucket repo)"
On "Atlassian Bamboo" CI, "com.gorylenko.gradle-git-properties"  plugin can retrieve "**git.branch**", but it fails on "**git.commit.id**", "**git.commit.time**" (and maybe others "**git.commit.XXX**" - I not checked) properties (when retrieving info from "Bitbucket" repository). Running on a local computer (Mac) all repo info retrieved OK.

One extra thing I noticed - plugin can not retrieve "**g

[2021-10-19 12:27] #182 closed

[2021-11-04 09:05] jvmlet commented on #171
@joschi , unfortunately, the [workaround ](https://github.com/n0mer/gradle-git-properties/issues/171#issuecomment-817569604) you provided doesn't help, still getting the same  error, we also can't upgrade  to `2.3.1` because of [this issue](https://github.com/nebula-plugins/nebula-release-plugin/issues/215)
JDK 17, gradle 7.3-rc-3
Please advice

[2021-11-04 09:14] jvmlet commented on #171
for JDK 17 it `org.gradle.jvmargs=--add-opens java.base/java.io=ALL-UNNAMED`

[2021-11-09 12:39] matsandreassen opened #191 "jCenter certificate expired November 9th and now my projects no longer build"
The title says it all. Here's the error:

     Required by:
         project : > com.gorylenko.gradle-git-properties:com.gorylenko.gradle-git-properties.gradle.plugin:2.3.1 > com.gorylenko.gradle-git-properties:gradle-git-properties:2.3.1 > org.ajoberstar.grgit:grgit-core:4.1.0

EDIT: I've added a pull request in an attempt to be helpful: https://github.com/n0mer/gradle-git-properties/pull/192

[2021-11-09 12:45] fmonorchio commented on #191
Same problem here!

[2021-11-09 12:45] legart commented on #191
You should remove jcenter from your builds, it has been shutdown

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-11-09 12:47] fmonorchio commented on #191
I do not have jcenter. only mavenCentral.

[2021-11-09 12:49] legart commented on #191
Have you seen https://github.com/n0mer/gradle-git-properties/issues/180 ?

[2021-11-09 12:51] matsandreassen commented on #191
It's a transitive dependency through jgit so the problem is not in my project.

The README instructions on how to replace jgit version worked but I'd rather somebody published a 2.3.2 of this plugin with updated jgit.

With regards to #180: JFrog decided that jCenter is to live on in read-only mode, but the certificate expired _today_.

[2021-11-09 12:58] fmonorchio commented on #191
I'm using
[code]
What I need to change?

[2021-11-09 13:00] matsandreassen commented on #191
Check the README. It has instructions on what to add. Replace your dependency line with:

`
classpath ("com.gorylenko.gradle-git-properties:gradle-git-properties:2.3.1") {
            exclude group: "org.eclipse.jgit", module: 'org.eclipse.jgit' // remove plugin's jgit dependency
}
classpath "org.eclipse.jgit:org.eclipse.jgit:5.13.0.202109080827-r" // use the specified jgit dependency
`

[2021-11-09 13:44] gabrielcardetti commented on #191
This worked for me

[2021-11-09 20:38] fmonorchio commented on #191
Not work for me :-(

[2021-11-09 21:50] tha2015 commented on #191
Can you help to check if it works by just changing from "gradle.plugin.com.gorylenko.gradle-git-properties:gradle-git-properties:2.3.1" to "com.gorylenko.gradle-git-properties:gradle-git-properties:2.3.1" ?
I suspect that updating jgit version has no impact to the result.

[2021-11-09 21:56] gabrielcardetti commented on #191
I tried that first but it didn't work

[2021-11-09 22:14] tha2015 commented on #191
I'm trying to understand the root cause. This is my build.gradle file
[code]
And it works fine. Any sample/suggestion to reproduce the issue? Thanks

[2021-11-10 07:27] matsandreassen commented on #191
Well, JFrog fixed the problem. They've update their certificate which you can see if you visit https://jcenter.bintray.com/org/eclipse/jgit/org.eclipse.jgit/maven-metadata.xml

Now this works again:

[code]

[2021-11-10 07:27] #191 closed

[2021-11-10 07:29] matsandreassen commented on #191
I closed the issue since the problem went away with their certificate fix, but maybe my solution should be applied anyway to remove this dependency on jCenter.

[2021-11-10 10:58] tha2015 commented on #191
I'm not aware about jCenter dependency by the plugin (directly or indirectly). I'd like to understand why we are having these issues before we applying the fix.

[2021-11-22 05:48] akibabu opened #193 "StackOverflowError in Gradle 6.3"
This is when executing the task `generateGitProperties` in a typical single module Java project.

When changing to Gradle 6.8.3 it works fine, but Gradle 6.3 gives this error:

[code]

The code in question, that has been modified in the 2.3.1 release

https://github.com/n0mer/gradle-git-properties/blob/45f84f2c9f39cdd908917856e319588da7c4e3fb/src/main/groovy/com/gorylenko/GitPropertiesPlugin.groov

[2021-11-30 05:51] gotson opened #195 "Version `2.3.1` stopped working with Java 8"
Suddenly my project throws this exception when running with Java 8. It works fine with Java 11.

[code]

Version `2.3.1` has not been updated recently, so i'm not sure what's going on.

[2021-11-30 06:05] KENNYSOFT commented on #195
ajoberstar/grgit#339

[2021-11-30 06:26] gotson commented on #195
Here is a workaround to force the transitive version of JGit used by the plugin:

[code]

[2021-11-30 07:43] huangjunbiao commented on #195
I have the same problem.I found a new version:2.4.0-rc1 in https://plugins.gradle.org/.It seems to be working but i am not sure the 2.4.0-rc1 Version is available.

[2021-11-30 07:54] croqueGrec09 commented on #195
I have the same with version 2.2.4 and workaround does not work

[2021-11-30 08:49] douph1 commented on #195
with old gradle 6.8.3 replace
`isForce = true`
with
`force = true`
for the workaround from @gotson
Thanks you @gotson

[2021-11-30 08:51] gotson commented on #195
`isForce` is for Kotlin Script, `force` is for Groovy. See https://docs.gradle.org/current/userguide/dependency_downgrade_and_exclude.html#forced_dependencies_vs_strict_dependencies for more details

[2021-11-30 08:53] gotson commented on #195
I have updated my snippet above to provide both Kotlin Script and Groovy.

[2021-11-30 09:01] kazukikawaguchi1108 commented on #195
it also works like this
※with gradle 6.7.1

[code]
thanks you @gotson

[2021-11-30 09:09] croqueGrec09 commented on #195
The workaround works locally; howewer, when deploying with Jenkins on server, I get following error message:

`
Could not resolve all dependencies for configuration ':classpath'.
Could not resolve org.eclipse.jgit:org.eclipse.jgit:latest.release.
Required by:
 project : > gradle.plugin.com.gorylenko.gradle-git-properties:gradle-git-properties:2.2.4 > org.ajoberstar.grgit:grgit-core:4.1.0
Could not

[2021-11-30 10:24] dcebotarenco commented on #195
with Gradle 5

configurations.all {
    resolutionStrategy.force "org.eclipse.jgit:org.eclipse.jgit:5.13.0.202109080827-r"
}
dependencies {
        classpath 'com.gorylenko.gradle-git-properties:gradle-git-properties:2.3.1'
 }

[2021-11-30 12:58] paulosousadias commented on #195
with Gradle 7.3

buildscript {
    dependencies {
        classpath ('org.eclipse.jgit:org.eclipse.jgit:') {
            version {
                strictly '5.13.0.202109080827-r'
            }
        }
    }
}

[2021-12-02 23:03] tha2015 commented on #195
Version 2.3.2 (based on 2.3.1 tag) has been published with the fix from @KENNYSOFT
https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties/2.3.2

[2021-12-02 23:28] tha2015 commented on #195
Version 2.4.0-rc2 (based on master) has been published with the fix from @KENNYSOFT
https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties

[2021-12-06 17:04] alextu opened #197 "`dotGitDirectory` folder should not be defined as a file input to the `generateGitPropertiesTask`"
`com.gorylenko.GenerateGitPropertiesTask#getSource` should not be defined as a file input:
- it causes the whole `.git` to be snapshotted (recursively)
- some cache misses happen depending on where/how the project have been checked out

I think defining it as an `@Internal` should be fine (that would mean excluding the git path and content from the cache key calculation) since currently the git pr

[2021-12-13 17:57] spyro2000 opened #198 "2.3.1: Getting 2nd closest tag instead of closest one"
Hi there,

loving your plugin, but since a few days (?) I am not getting the closest version of a tag but the next one in the list:

Git itself returns 1.15.6 (correct)

Visualization in IntelliJ:

![image](https://user-images.githubusercontent.com/8479925/145863548-96abc3e8-32ab-4723-b37b-f2d84364b725.png)

![image](https://user-images.githubusercontent.com/8479925/145863273-b220109f-f984-43af-88

[2021-12-13 18:17] spyro2000 commented on #198
Update: Found the issue. The tag must be an ANNOTATED tag or it gets ignored by `git describe`...
If you are reading this and using GitLab: Make sure to always enter release notes or you end up with an **unannotated** tag...

Thanks anyway and sorry for the noise.

[2021-12-16 19:46] eriknyk opened #199 "generate git properties in android project"
I've added the plugin to my android project, and git.properties not being generated automatically,
it only works running manually the task `generateGitProperties`.

I saw a comment in other similar closed issue thet the git properties generation depends of `classes` teask,
now I can see that seems android projects have not a `classes` task, just because I've tried

[code]

Output
[code]

is there

[2021-12-16 19:59] tha2015 commented on #199
Something like `project.tasks. assembleRelease.dependsOn('generateGitProperties')` will make `generateGitProperties` to be executed before `assembleRelease`

[2021-12-16 23:55] eriknyk commented on #199
Thanks @tha2015 but it doesn't work

[2021-12-17 00:06] tha2015 commented on #199
I'm not familiar with Android projects. But generally when you makes a task A depends on some task B, that will make executing A implicitly executing B before A. Have you ran gradle command with debug flag to see what happened?

[2021-12-17 00:24] eriknyk commented on #199
well not sure. I just added

[code]

and I got:

[code]

[2021-12-17 00:49] tha2015 commented on #199
How about this one?
project.tasks.processResources.dependsOn('generateGitProperties')

[2021-12-17 00:56] eriknyk commented on #199
same error: `> Could not get unknown property 'processResources' for task set of type org.gradle.api.internal.tasks.DefaultTaskContainer.`

[2021-12-17 01:01] eriknyk commented on #199
@tha2015

I've tried:

[code]

And I can see that it works, but I'm not sure if that is the best way to fix this.

[2022-01-12 20:34] slangeberg opened #200 "Plugin fails build - JCenter repository not available."
I think Jcenter has gone down, and this plugin still relies on it.

https://stackoverflow.com/questions/70687342/jcenter-bintray-com-is-down-error-502-bad-gateway

We were on plugin v 2.2.4 and i tried upgrading to latest 2.3.2, and is same error.
[code]

[2022-01-12 20:54] svetozar02 commented on #200
It seems that "2.4.0-rc2" doesn't have this issue

[2022-01-12 21:12] slangeberg commented on #200
Yeah, that's been my fix, so far

On Wed, Jan 12, 2022 at 2:54 PM svetozar02 ***@***.***> wrote:

[2022-01-12 21:14] #195 closed

[2022-01-12 21:15] #198 closed

[2022-01-13 06:09] a13519 opened #201 "Build failed"
I use gradle and my build.gradle looks like:
plugins {
    id 'java'
    id 'org.springframework.boot' version '2.2.0.RELEASE'
    id 'io.spring.dependency-management' version '1.0.8.RELEASE'
    id 'war'
    id "com.gorylenko.gradle-git-properties" version "2.3.2"
}

when I build it throw the following exceptions:
Execution failed for task ':generateGitProperties'.

* Try:
Run with --info or --de

[2022-01-21 15:56] madorb opened #202 "Publishing problem?"
When adding this to my build it attempts to lookup the file at:

https://plugins.gradle.org/m2/gradle/plugin/com/gorylenko/gradle-git-properties/gradle-git-properties/2.3.2/

which doesn't exist (only has up to 2.2.4.

It look slike it's instead published to:

https://plugins.gradle.org/m2/com/gorylenko/gradle-git-properties/gradle-git-properties/2.3.2/

(does not contain `gradle/plugins`)

As far

[2022-01-21 16:00] #202 closed

[2022-02-07 00:23] tha2015 commented on #200
v.2.4.0 has been released

[2022-02-07 00:25] tha2015 commented on #168
Please verify with latest version 2.4.0. Thanks.

[2022-02-07 00:28] tha2015 commented on #201
Duplicate of #193

[2022-02-07 00:28] #201 closed

[2022-02-07 00:37] tha2015 commented on #193
Because this issue has been resolved since Gradle 6.4 (05/05/2020), I prefer to close this issue instead of updating the plugin, any ideas?

[2022-02-07 00:42] tha2015 commented on #195
Hi @KENNYSOFT ,
Version 2.4.0 has been released with this fix. Thanks a lot!
-Thai

[2022-02-07 08:32] jj-sn commented on #168
I cam't even reproduce the problem with the old gradle and gradle-git-properties versions anymore. Current versions work fine, too. :shrug: I guess this can be closed.

[2022-02-07 11:58] #168 closed

[2022-02-10 22:14] mjustin commented on #14
Just to verify: we wouldn't want to manually support this in the plugin until JGit finally gets around to implementing this, correct?

[code]

[2022-02-11 23:49] lynxplay opened #203 "JGit cannot find org.slf4j.impl.StaticLoggerBinder due to relocation"
The gradle git properties plugin [relocates](https://github.com/n0mer/gradle-git-properties/blob/master/build.gradle#L54) the entire grgit library to a prefixed `gradlegitproperties` package.

Due to the nature of the shadow plugin, the `slf4j-api` included by `jgit` also has its import for `org.slf4j.impl.StaticLoggerBinder` relocated to `gradlegitproperties.org.slf4j.impl.StaticLoggerBinder`. As

[2022-02-14 18:43] #200 closed

[2022-02-18 12:32] ragnese commented on #151
I apologize for bumping an old-ish issue.

For my use case, the value would be in still being able to *explicitly* decide which tasks depend on writing out the git properties. I only need this plugin to run when I am ready to publish the project to CI/production, which gets its own specially gradle task, anyway. Otherwise, I don't want or need the git information to be generated. So, I don't want

[2022-02-23 11:06] remal commented on #203
@n0mer could you please exclude slf4j from the relocation process to make the plugin use Gradle's logging infrastructure?

[2022-02-23 11:16] n0mer commented on #203
@remal Semyon can you submit PR for this feature request , with test cases

[2022-03-29 10:08] mhuebner commented on #185
Docs should also be updated for setting `dotGitDirectory` property, i.e.:

[code]

[2022-03-29 18:50] mjustin opened #205 "Do not fail build if in a linked working tree and failOnNoGitDirectory = false"
Per the unfixed (but closed) #14, the build breaks when run from a Git linked working tree.  This issue has been waiting on JGit issue [477475](https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475) to add support for linked working trees, and has been closed in the interim.  While there has been a recent (March 2022) renewal of interest in the JGit issue, it's not clear whether this issue will fin

[2022-04-30 21:47] lynxplay commented on #203
Is there anything that I can do to speed up resolving this issue ? I understand if the PR I proposed (especially regarding the integration testing) is not ready for a merge as is, I'd be happy to work with the maintainers here to get this or a similar fix merged.

[2022-05-01 01:42] #203 closed

[2022-05-01 02:10] tha2015 commented on #203
Can you please help to test v2.4.1? Thanks
https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties

[2022-05-01 03:17] remal commented on #203
I confirm it works fine now, thanks!

[2022-05-01 08:48] lynxplay commented on #203
Can confirm this properly works on my end as well :) Thank you for the quick merge 👍

[2022-05-09 01:12] leo7 commented on #185
Works well with just string like `gitPropertiesResourceDir = "${project.rootDir}/src/main/resources"` for Gradle 6.8, but need to use `gitPropertiesResourceDir = file("${project.rootDir}/src/main/resources")` for Gradle 7.x.

Same for `dotGitDirectory`

[2022-05-10 14:42] juriad commented on #155
The maven alternative has had the issue open for years. Its users can clearly see that this does not work.
Keeping the issue closed here looks like we don't care about the support.
https://github.com/git-commit-id/git-commit-id-maven-plugin/issues/215

[2022-05-13 01:31] sibidominic opened #206 "customproperty not showing in /info"
My application is implemented using SpringBoot.

configured custom property in build.gradle like

gitProperties {
    customProperty 'sample.version', { System.getenv("SAMPLE_VERSION") } // Env Variable set as part of CodeBuild from buildspec.yml

    keys = ['git.branch','git.build.time','git.commit.id','git.commit.id.abbrev','git.commit.message.full','git.commit.message.short','git.commit.time',

[2022-07-02 19:37] Floppy012 opened #207 "Allow multiple tasks with different configurations"
It currently doesn't seem to be possible as the plugin does not allow overriding the configuration on a per-task basis.

https://github.com/n0mer/gradle-git-properties/blob/master/src/main/groovy/com/gorylenko/GenerateGitPropertiesTask.groovy#L35

[2022-07-24 13:25] chrisbitmead opened #208 "invalid value: core.eol=input"
I added 2.4.1 of the plugin to a grails 5.1 project and got the following bizarre error:

[code]

Yes sure, I have core.eol set to input, but so what? Why does it want to fail because of that?

[2022-08-02 05:30] Fiouz opened #209 "Gradle 8 compatiblity: Missing task dependency on processResources when setting `gitPropertiesResourceDir`"
# Context

<details><summary>Gradle 7.5</summary>

[code]
</details>

<details><summary>build.gradle.kts</summary>

[code]
</details>

Command: `gradlew build --warning-mode=all`

# Expected behavior

Build without warning

# Actual behavior

[code]

[2022-08-03 18:39] Fiouz opened #212 "Plugin should not default to using overlapping task outputs"
While working on #209 to make use of [inferred task dependencies](https://docs.gradle.org/7.5/userguide/more_about_tasks.html#sec:inferred_task_dependencies) on the `processResources` task (instead of depending on the dependent `classes` task), it seems there is an issue with the default location with regards to recommended practices(1):

https://github.com/n0mer/gradle-git-properties/blob/80fd874

[2022-08-03 20:11] tha2015 commented on #208
Can you run it with option `--debug` to see what caused the issue?

[2022-08-03 20:17] tha2015 commented on #206
This plugin supports to generate content for git.properties file only. It has no control on how `/info` endpoint works (showing whole file or only some selected properties). I would suggest to manually add some custom properties to `git.properties` to debug the issue.

[2022-08-18 03:24] anshuldwivedi opened #214 "Issue with Spring Boot when we create Image"
While using this plugin locally everything works fine.
But when i create a image of the project and deploy it to AWS .
The git.properties is not getting created.
Please let me know if any other additional steps needs to be done or I have missed anything.

[2022-08-21 05:25] anshuldwivedi commented on #214
@n0mer Can you please help me on this issue?
I am using git_properties_plugin_version=2.2.2

[2022-08-30 12:03] ramshers opened #215 "com.gorylenko.GenerateGitPropertiesTask' property 'gitProperties' is missing an input or output annotation?"
I am facing below error. I am using `Java 11` and the `Gradle 7.4.1 `wrapper

Any guidance on how to overcome this error.

[2022-09-08 23:17] joeleoli opened #216 "how can i put the properties file into the jar using johnrengelman shadowJar"
so i'm trying to get the properties file into the jar with shadow jar but i have no clue how to do it.
(the file ends up in the root directory of the project)

currently using this in my build.gradle:

[code]

any help appreciated.

[2022-09-14 12:26] artemptushkin opened #217 "Some properties make builds non incremental when it's expected to be"
Some of the properties like `gradle.build.host` and all the other `gradle.build` properties make builds less reproducible as the latter may differ in the pipeline, especially _host_ one.

### The example scenario.

You have a set of tasks:

* compileKotlin
* **generateGitProperties**
* processResources
* compileTestKotlin

And you run it inside a **pipeline** with virtual envs as a runtime environ

[2022-09-19 23:40] robertwenner opened #218 "Deprecation warning for unreadable inputs"
Steps:

- Create git repo: `git init .`
- Create Gradle project: `gradle init --type java-application`
- Add `id "com.gorylenko.gradle-git-properties" version "2.4.1"` to the plugins block in `app/build.gradle`
- Run `gradle --warning-mode all generateGitProperties`

In both Gradle 7.4 and 7.5.1 I get:

[code]

How can I avoid that warning in my build?

[2022-10-03 17:36] rpost opened #219 "Plugin not accessible using https://plugins.gradle.org/m2/ repo"
Do I see it correctly that newest versions are not uploaded to gradle plugin repository:

https://mvnrepository.com/artifact/gradle.plugin.com.gorylenko.gradle-git-properties/gradle-git-properties

despite that webpage says it's there: https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties ?

[2022-10-03 17:59] rpost commented on #219
GroupId was changed. Nvm, I was blind

[2022-10-03 17:59] #219 closed

[2022-11-03 14:52] aspyatkin commented on #14
Kotlin DSL version:

[code]

[2022-11-04 08:15] tzhao11 commented on #179
For Kotlin DSL and Spring Boot:

[code]

[2022-11-04 15:30] mjustin commented on #14
I'm currently using a Gradle [initialization script](https://docs.gradle.org/current/userguide/init_scripts.html) to automatically apply [my workaround](https://github.com/n0mer/gradle-git-properties/issues/14#issuecomment-1035608025) to my local projects.  That way it works automatically as needed, and I don't need to pollute the committed build script with workarounds that aren't normally releva

[2022-11-04 18:31] sodevel commented on #179
Recent versions of the plugin automatically set `outputs.upToDateWhen` to `false` if `gitProperties.extProperty` is used, so you don't have to do this manually. You could also just depend on `tasks.generateGitProperties`, it's the only existing task that generates the properties.

[2022-11-08 07:42] akubyshkin opened #220 "No artifact of plugin at plugins.gradle.org above version 2.2.4"
Hello! Can't find artifact for plugin versions above 2.2.4 here:
https://plugins.gradle.org/m2/gradle/plugin/com/gorylenko/gradle-git-properties/gradle-git-properties/

I need plugin of version 2.4.1, but I can't download it from plugin artifactory: there is no such artifact.

I need the artifact of the latest version because it uses dependency org.ajoberstar.grgit.grgit-core-4.1.1. Plugin version

[2022-11-08 08:03] akubyshkin commented on #220
After some investigations I tried
[code]

instead of

[code]
in my build.gradle and it solved the problem. Hope, this information will be helpfull for others.

[2022-11-08 08:03] #220 closed

[2022-11-08 22:26] mjparme opened #221 "Can this be published to maven central"
Since JCenter is frequently dead can this instead be published to maven central?

[2022-11-10 19:37] ym-herby commented on #214
@anshuldwivedi did you ever resolve this issue? I have the same problem. For now I have to ignore the failure to get the build to complete.
[code]